<section
    class="row domain-add"
    ng-show="DomainMainVm.addDomains"
>
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="alert-wrapper">
                <div class="alert alert-info" role="alert">
                    {{ "After domain approval we will send you instruction for your dns settings" | trans }}
                </div>
            </div>
            <div class="box-header">
                <h4 class="box-title">{{ "Add existing domain" | trans }}</h4>
            </div>
            {{ form_start(form, {'attr': {'action': path('admin_domain')}}) }}
            <div class="box-body">
                <div class="form-group">
                    <label class="control-label">
                        Domain
                    </label>
                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                        {{ form_widget(form.domain, {'attr': {'class': 'form-control', 'placeholder': 'Example: mystore.com' | trans}}) }}
                    </div>
                    <div class="error">
                        {{ form_errors(form.domain) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-success">{{ "Add" | trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</section>