<section
    class="row domain-buy"
    ng-show="DomainMainVm.buyDomains"
    ng-controller="DomainBuyController as DomainBuyVm"
    ng-init="DomainBuyVm.init(
                '{{ app.user.storeName }}',
                '{{ app.user.firstname }}',
                '{{ app.user.lastname }}',
                '{{ app.user.email }}',
                '{{ app.user.phone }}'
            )"
>
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title">
                    {{ "Buy domain" | trans }}
                </h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">
                                {{ "Name" | trans }}
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                <input
                                        type="text"
                                        name="domain"
                                        class="form-control"
                                        ng-model="DomainBuyVm.domainName"
                                        placeholder="Example: mynewstore"
                                >
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" ng-click="DomainBuyVm.searchSuggestedDomains()">
                            {{ "Search" | trans }}
                            <div class="spinner" ng-class="{'active': DomainBuyVm.loader}"></div>
                        </button>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">
                                {{ "Domains" | trans }}
                            </label>

                            <div class="tld">
                                <label
                                    ng-repeat="(tld, value) in DomainBuyVm.tlds track by $index"
                                    class="tld__item"
                                >
                                    <input
                                        type="checkbox"
                                        class="custom-checkbox"
                                        ng-model="DomainBuyVm.tlds[tld]"
                                        ng-checked="DomainBuyVm.tlds[tld]"
                                    >
                                    <span class="tld-name" ng-bind="tld"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-primary" ng-show="DomainBuyVm.hasDomains()">
            <div class="box-header">

                <h4 class="box-title">
                    {{ "Result" | trans }}:
                </h4>
            </div>

            <div class="box-body">
                <div
                    class="domain-block"
                    ng-repeat="domain in DomainBuyVm.domains track by $index"
                >
                    <div class="domain-block__info">
                        <div class="domain-name">
                            <span ng-bind="domain.domain"></span>
                        </div>
                        <div class="domain-control">
                            <span class="badge badge-taken" ng-show="domain.status === 'taken' || domain.status === 'undetermined'">{{ "taken" | trans }}</span>
                            <button
                                    type="button"
                                    class="btn btn-primary"
                                    ng-click="DomainBuyVm.getDomainPrice($event, domain)"
                                    ng-show="domain.status ==='available'"
                            >
                                {{ "view price" | trans }}
                                <div class="spinner" ng-class="{'active': domain.searchLoader}"></div>
                            </button>
                        </div>
                    </div>
                    <div class="domain-block__additional">
                        <div class="row">
                            <div class="col-md-10">
                                <div>
                                    <span class="title">Domain</span>: <span ng-bind="domain.domain"></span>
                                </div>
                                <div>
                                    <span class="title">Price</span>: $<span ng-bind="domain.price / 100"></span>
                                </div>

                                <form name="buyDomainForm" novalidate>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <h4>Owner info</h4>

                                                <label class="control-label">
                                                    {{ "First Name" | trans }} <span class="require-sign">*</span>
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    <input
                                                            type="text"
                                                            name="owner_first_name"
                                                            class="form-control"
                                                            ng-model="DomainBuyVm.owner.first_name"
                                                            required="required"
                                                    >
                                                    <ul class="error">
                                                        {% include 'AdminBundle:Domain/form-errors:not-blank.html.twig' with {field_name: 'owner_first_name'} %}
                                                    </ul>
                                                </div>

                                                <label class="control-label">
                                                    {{ "Last Name" | trans }} <span class="require-sign">*</span>
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    <input
                                                            type="text"
                                                            name="owner_last_name"
                                                            class="form-control"
                                                            ng-model="DomainBuyVm.owner.last_name"
                                                            required="required"
                                                    >
                                                    <ul class="error">
                                                        {% include 'AdminBundle:Domain/form-errors:not-blank.html.twig' with {field_name: 'owner_last_name'} %}
                                                    </ul>
                                                </div>

                                                <label class="control-label">
                                                    {{ "Email" | trans }} <span class="require-sign">*</span>
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    <input
                                                            type="email"
                                                            name="owner_email"
                                                            class="form-control"
                                                            ng-model="DomainBuyVm.owner.email"
                                                            required="required"
                                                    >
                                                    <ul class="error">
                                                        {% include 'AdminBundle:Domain/form-errors:not-blank.html.twig' with {field_name: 'owner_email'} %}
                                                    </ul>
                                                </div>

                                                <label class="control-label">
                                                    {{ "Phone" | trans }} <span class="require-sign">*</span>
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    <input
                                                            type="text"
                                                            name="owner_phone"
                                                            class="form-control"
                                                            ng-model="DomainBuyVm.owner.phone"
                                                            placeholder="Example: +141612341234"
                                                            required="required"
                                                    >
                                                    <ul class="error">
                                                        {% include 'AdminBundle:Domain/form-errors:not-blank.html.twig' with {field_name: 'owner_phone'} %}
                                                    </ul>
                                                </div>

                                                <label class="control-label">
                                                    {{ "Fax" | trans }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    <input
                                                            type="text"
                                                            name="owner_fax"
                                                            class="form-control"
                                                            ng-model="DomainBuyVm.owner.fax"
                                                            placeholder="Example: +141655501232"
                                                    >
                                                </div>

                                                <label class="control-label">
                                                    {{ "State" | trans }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    <input
                                                            type="text"
                                                            name="owner_state"
                                                            class="form-control"
                                                            ng-model="DomainBuyVm.owner.state"
                                                            placeholder="Example: CA"
                                                    >
                                                </div>

                                                <label class="control-label">
                                                    {{ "Country" | trans }} <span class="require-sign">*</span>
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    <select
                                                            name="owner_country"
                                                            class="form-control"
                                                            ng-model="DomainBuyVm.owner.country"
                                                            required="required"
                                                    >
                                                        {% for code, name in countries %}
                                                            <option value="{{ code }}">{{ name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <ul class="error">
                                                        {% include 'AdminBundle:Domain/form-errors:not-blank.html.twig' with {field_name: 'owner_country'} %}
                                                    </ul>
                                                </div>

                                                <label class="control-label">
                                                    {{ "City" | trans }} <span class="require-sign">*</span>
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    <input
                                                            type="text"
                                                            name="owner_city"
                                                            class="form-control"
                                                            ng-model="DomainBuyVm.owner.city"
                                                            placeholder="Example: SomeCity"
                                                            required="required"
                                                    >
                                                    <ul class="error">
                                                        {% include 'AdminBundle:Domain/form-errors:not-blank.html.twig' with {field_name: 'owner_city'} %}
                                                    </ul>
                                                </div>

                                                <label class="control-label">
                                                    {{ "Postal code" | trans }} <span class="require-sign">*</span>
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    <input
                                                            type="text"
                                                            name="owner_postal_code"
                                                            class="form-control"
                                                            ng-model="DomainBuyVm.owner.postal_code"
                                                            placeholder="Example: 9021"
                                                            required="required"
                                                    >
                                                    <ul class="error">
                                                        {% include 'AdminBundle:Domain/form-errors:not-blank.html.twig' with {field_name: 'owner_postal_code'} %}
                                                    </ul>
                                                </div>

                                                <label class="control-label">
                                                    {{ "Organisation name" | trans }} <span class="require-sign">*</span>
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    <input
                                                            type="text"
                                                            name="owner_org_name"
                                                            class="form-control"
                                                            ng-model="DomainBuyVm.owner.org_name"
                                                            placeholder="Example: Example Inc."
                                                            required="required"
                                                    >
                                                    <ul class="error">
                                                        {% include 'AdminBundle:Domain/form-errors:not-blank.html.twig' with {field_name: 'owner_org_name'} %}
                                                    </ul>
                                                </div>

                                                <label class="control-label">
                                                    {{ "address 1" | trans }} <span class="require-sign">*</span>
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    <input
                                                            type="text"
                                                            name="owner_address1"
                                                            class="form-control"
                                                            ng-model="DomainBuyVm.owner.address1"
                                                            placeholder="Example: 32 Oak Street"
                                                            required="required"
                                                    >
                                                    <ul class="error">
                                                        {% include 'AdminBundle:Domain/form-errors:not-blank.html.twig' with {field_name: 'owner_address1'} %}
                                                    </ul>
                                                </div>

                                                <label class="control-label">
                                                    {{ "address 2" | trans }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    <input
                                                            type="text"
                                                            name="owner_address2"
                                                            class="form-control"
                                                            ng-model="DomainBuyVm.owner.address2"
                                                            placeholder="Example: Suite 500"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div>
                                    <button
                                            type="submit"
                                            class="btn btn-success"
                                            ng-click="DomainBuyVm.buyDomain(domain, buyDomainForm)"
                                    >
                                        {{ "Buy" | trans }}
                                        <div class="spinner" ng-class="{'active': domain.purchaseDomainLoader}"></div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>