For pass all checks you need do the next steps:
<ul>
    <li>Setup forwarding from your domain to subdomain www</li>
    <li>Set CNAME record for www to {{ loadBalancerDomainName }}</li>
    <li>
        Set subdomains with CNAME record:
        <ul>
            {% for option in  domainOptions %}
                <li>
                    {{ option.DomainName }} :
                    <ul>
                        <li>Subdomain: {{ option.ResourceRecord.Name }}</li>
                        <li>Value: {{ option.ResourceRecord.Value }}</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>