<section
    class="row domains"
    ng-show="DomainMainVm.domains"
    ng-controller="DomainListController as DomainListVm"
    ng-init="DomainListVm.init('{{ domainList | json_encode }}')"
>
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title">{{ "Existing domains" | trans }}</h4>
            </div>

            <div class="alert-wrapper">
                <div class="alert alert-info" role="alert">
                    Active domains {{ activeDomains }} / {{ constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::ACTIVE_LIMIT') }}
                </div>
            </div>

            <div class="box-body">
                {% if clientDomains | length > 0 %}
                    <div class="domain-block">
                        <div class="domain-block__info">
                            <div class="domain-name title">
                                <span>{{ 'Domain name' | trans }}</span>
                            </div>
                            <div class="domain-status title">
                                <span>{{ 'Status' | trans }}</span>
                            </div>
                            <div class="domain-control"></div>
                        </div>
                    </div>

                    {% for domain in clientDomains %}
                        <div class="domain-block">
                            <div class="domain-block__info">
                                <div class="domain-name">
                                    <span>{{ domain.domain }}</span>
                                </div>
                                <div class="domain-status">
                                    {% if
                                        domain.domainType == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::SUB_DOMAIN_TYPE') or
                                        (
                                            domain.domainType == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::CLIENT_DOMAIN_TYPE') and
                                            domain.status == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::PAYED_WITH_DOMAIN')
                                        ) or
                                        domain.status == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::ADDED_MANUALLY_APPROVED')
                                    %}
                                        {% if domain.active == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::ACTIVE') %}
                                            <span class="label label-success">{{ 'Active' | trans }}</span>
                                        {% else %}
                                            <span class="label label-info">{{ 'Inactive' | trans }}</span>
                                        {% endif %}
                                    {%
                                        elseif
                                        domain.domainType == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::CLIENT_DOMAIN_TYPE') and
                                        domain.status == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::PAYED_WITHOUT_DOMAIN')
                                    %}
                                        <span class="label label-danger">{{ 'Error' | trans }}</span>
                                    {%
                                        elseif
                                        domain.domainType == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::CLIENT_DOMAIN_TYPE') and
                                        (
                                            domain.status == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::ADDED_MANUALLY') or
                                            domain.status == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::DUPLICATE')
                                        )
                                    %}
                                        <span class="label label-warning">{{ 'Panding' | trans }}</span>
                                    {% endif %}
                                </div>
                                <div class="domain-control">
                                    {% if
                                        domain.domainType == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::SUB_DOMAIN_TYPE') or
                                        (
                                            domain.domainType == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::CLIENT_DOMAIN_TYPE') and
                                            domain.status == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::PAYED_WITH_DOMAIN')
                                        ) or
                                        domain.status == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::ADDED_MANUALLY_APPROVED')
                                    %}

                                        {% if domain.domainType != constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::SUB_DOMAIN_TYPE')%}
                                            <button
                                                    type="button"
                                                    class="btn btn-primary"
                                                    ng-click="DomainListVm.getDomainInfo($event, DomainListVm.domains['{{ loop.index0 }}'])"
                                            >
                                                {{ "View detail" | trans }}
                                                <div class="spinner" ng-class="{'active': DomainListVm.domains['{{ loop.index0 }}'].loader}"></div>
                                            </button>
                                        {% endif %}

                                        {% if domain.active == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::ACTIVE') %}
                                            <a
                                                class="btn btn-info"
                                                href="{{ path('admin_domain_change_active_status', {'clientDomain': domain.id}) }}"
                                            >
                                                {{ "Inactive" | trans }}
                                            </a>
                                        {% else %}

                                            {% if activeDomains >= constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::ACTIVE_LIMIT') %}
                                                <button
                                                    class="btn btn-success"
                                                    disabled="disabled"
                                                >
                                                    {{ "Active" | trans }}
                                                </button>
                                            {% else %}
                                                <a
                                                    class="btn btn-success"
                                                    href="{{ path('admin_domain_change_active_status', {'clientDomain': domain.id}) }}"
                                                >
                                                    {{ "Active" | trans }}
                                                </a>
                                            {% endif %}

                                        {% endif %}

                                        <a
                                            class="btn btn-danger"
                                            href="{{ path('admin_domain_delete', {'clientDomain': domain.id}) }}"
                                        >
                                            {{ "Delete" | trans }}
                                        </a>
                                    {%
                                        elseif
                                        domain.domainType == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::CLIENT_DOMAIN_TYPE') and
                                        domain.status == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::PAYED_WITHOUT_DOMAIN')
                                    %}
                                        <a
                                            href="{{ url('admin_domain_registration', {'clientDomain':domain.id }) }}"
                                            class="btn btn-danger"
                                        >
                                            {{ "Register" | trans }}
                                        </a>
                                    {%
                                        elseif
                                        domain.domainType == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::CLIENT_DOMAIN_TYPE') and
                                        (
                                            domain.status == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::ADDED_MANUALLY') or
                                            domain.status == constant('ThreeWebOneEntityBundle\\Entity\\Domain\\ClientDomain::DUPLICATE')
                                        )
                                    %}
                                        <a
                                            class="btn btn-warning"
                                            href="{{ path('admin_check_domain', {'clientDomain': domain.id}) }}"
                                        >
                                            {{ "Check domain" | trans }}
                                        </a>
                                        <a
                                            class="btn btn-danger"
                                            href="{{ path('admin_domain_delete', {'clientDomain': domain.id}) }}"
                                        >
                                            {{ "Delete" | trans }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="domain-block__additional">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>{{ "Domain" | trans }}</span>: <span>{{ domain.domain }}</span>
                                    </div>

                                    <div class="col-md-3">
                                        <span>{{ "Expires date" | trans }}</span>: <span ng-bind="DomainListVm.domains['{{ loop.index0 }}'].expireDate"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {{ 'Now you don`t have any domains' | trans }}
                {% endif %}
            </div>
        </div>
    </div>
</section>