{% extends '@Admin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box settings">
                <div class="box-header">
                    <h2>Search results</h2>
                </div>
                <div class="box-body  container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Models</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Created</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for model in models %}
                                        <tr>
                                            <td><a href="{{ path('admin_model_edit', {'id': model.id}) }}">{{ model.id }}</a></td>
                                            <td>{{ model.title }}</td>
                                            <td>{{ model.createdAt|date }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h3>Customers</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th>Created</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for customer in customers %}
                                    <tr>
                                        <td><a href="{{ path('admin_customer_details', {'id': customer.storeId}) }}">{{ customer.storeId }}</a></td>
                                        <td>{{ customer.email }}</td>
                                        <td>{{ customer.createdAt|date }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Orders</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Created</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td><a href="{{ path('admin_edit_order', {'id': order.storeId}) }}">{{ order.storeId }}</a></td>
                                        <td>{{ order.createdAt|date }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h3>Inventory items</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Created</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in inventoryItems %}
                                    <tr>
                                        <td><a href="{{ path('admin_inventory_item_edit', {'id': item.storeId}) }}">{{ item.storeId }}</a></td>
                                        <td>{{ item.title }}</td>
                                        <td>{{ item.createdAt|date }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

