{% extends 'AdminBundle::standard_layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}"><i class="fa fa-home"></i></a></li>
    <li class="active"><span>Profit calculator</span></li>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/profitCalculatorApp.js') }}"></script>
{% endblock %}

{% block content %}
    <section
        id="profit-calculator"
        ng-app="adminApp.profitCalculator"
        ng-controller="ProfitCalculatorController as vm"
        ng-init="vm.init()"
        ng-cloak
    >
        <div class="admin_heading">Profit Calculator</div>

        <div class="container_fluid">
            <form method="post">
                <div class="chart-wrapper mb-10" data-highcharts-chart="0">
                    <div zingchart class="zingchart" id="myChart" zc-render="vm.zcRenderConfig" zc-json="vm.zcChartConfig"></div>
                </div>
                <div class="graphValue_sec mt-10 mb-30">
                    <div class="row">

                        <div class="chart-info col-md-2 col-md-offset-1">
                            <div class="chart-info label-warning">
                                <label class="chart-info-label mt-10">Profit</label>
                                <div class="chart-info-value">
                                    $ <span ng-bind="vm.calculated.profit"></span>
                                </div>
                            </div>
                        </div>

                        <div class="chart-info col-md-2">
                            <div class="chart-info label-primary">
                                <label class="chart-info-label mt-10">Daily Business Expenses</label>
                                <div class="chart-info-value">
                                    $ <span ng-bind="vm.calculated.dailyExpense"></span>
                                </div>
                            </div>
                        </div>

                        <div class="chart-info col-md-2">
                            <div class="chart-info label-warning">
                                <label class="chart-info-label mt-10">Return / ROI</label>
                                <div class="chart-info-value">
                                    <span ng-bind="vm.calculated.returnOnInvestment"></span> %
                                </div>
                            </div>
                        </div>

                        <div class="chart-info col-md-2">
                            <div class="chart-info label-success">
                                <label class="chart-info-label mt-10">Items need sell to make a profit</label>
                                <div class="chart-info-value">
                                    Amount: <span ng-bind="vm.calculated.itemsNeededToSellToMakeADailyProfit"></span>
                                </div>
                            </div>
                        </div>

                        <div class="chart-info col-md-2">
                            <div class="chart-info label-success">
                                <label class="chart-info-label mt-10">Suggested cost to acquire</label>
                                <div class="chart-info-value">
                                    $ <span ng-bind="vm.calculated.suggestedCostToAcquire"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="admin_heading">Enter product info below for profit estimates</div>
                        <div class="clearfix mt-10">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-7"><label>Cost to Acquire</label></div>
                                    <div class="col-md-1"><label>$</label></div>
                                    <div class="col-md-4">
                                        <input
                                            class="form-control"
                                            min="0"
                                            step="0.01"
                                            name="costtoacquire"
                                            id="costtoacquire"
                                            required=""
                                            type="number"
                                            ng-model="vm.fields.costToAcquire"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-7"><label>Selling cost</label></div>
                                    <div class="col-md-1"><label>$</label></div>
                                    <div class="col-md-4">
                                        <input
                                            class="form-control"
                                            min="0"
                                            step="0.01"
                                            name="ebaysellingprice"
                                            id="ebaysellingprice"
                                            required=""
                                            type="number"
                                            ng-model="vm.fields.sellingCost"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-7"><label>Cost to Ship</label></div>
                                    <div class="col-md-1"><label>$</label></div>
                                    <div class="col-md-4">
                                        <input
                                            class="form-control"
                                            min="0"
                                            step="0.01"
                                            name="costtoship"
                                            id="costtoship"
                                            required=""
                                            type="number"
                                            ng-model="vm.fields.costToShip"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-7"><label>Total Monthly Business Expenses Minus Product Costs</label></div>
                                    <div class="col-md-1"><label>$</label></div>
                                    <div class="col-md-4">
                                        <input
                                            class="form-control"
                                            min="0"
                                            step="0.01"
                                            name="totalmonthcost"
                                            id="totalmonthcost"
                                            required=""
                                            type="number"
                                            ng-model="vm.fields.totalMonthlyBusinessExpensesMinusProductCosts"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-7"><label>Days Opened for Business Per Month</label></div>
                                    <div class="col-md-1"><label>#</label></div>
                                    <div class="col-md-4">
                                        <input
                                            class="form-control"
                                            min="0"
                                            step="1"
                                            name="businessdays"
                                            id="businessdays"
                                            required=""
                                            type="number"
                                            ng-model="vm.fields.daysOpenedForBusinessPerMonth"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-7"><label>Channel selling fee</label></div>
                                    <div class="col-md-1"><label>%</label></div>
                                    <div class="col-md-4">
                                        <input
                                            class="form-control"
                                            min="0"
                                            step="1"
                                            name="finalvaluefee"
                                            id="finalvaluefee"
                                            required=""
                                            type="number"
                                            ng-model="vm.fields.channelSellingFee"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-7"><label>Credit card processing fee</label></div>
                                    <div class="col-md-1"><label>%</label></div>
                                    <div class="col-md-4">
                                        <input
                                            class="form-control"
                                            min="0"
                                            step="1"
                                            name="paymentprocessing"
                                            id="paymentprocessing"
                                            required=""
                                            type="number"
                                            ng-model="vm.fields.creditCardProcessingFee"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-7"><label>Desired return on investment</label></div>
                                    <div class="col-md-1"><label>%</label></div>
                                    <div class="col-md-4">
                                        <input
                                            class="form-control"
                                            min="0"
                                            step="1"
                                            name="paymentprocessing"
                                            id="paymentprocessing"
                                            required=""
                                            type="number"
                                            ng-model="vm.fields.desiredReturnOnInvestment"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="admin_heading">Quick Monthly Profits Calculator</div>
                        <div class="clearfix mt-10">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th><label>Products Acquired Per Day</label></th>
                                        <td><b>1</b></td>
                                        <td><b>5</b></td>
                                        <td><b>10</b></td>
                                        <td><b>20</b></td>
                                    </tr>
                                    <tr>
                                        <th><label>Cost to Acquire Products Per Day</label></th>
                                        <td ng-repeat="item in vm.monthlyProfitsCalculations.costToAcquireProductsPerDay track by $index">$ <span ng-bind="item"></span></td>
                                    </tr>
                                    <tr>
                                        <th><label>Profits Per Day</label></th>
                                        <td ng-repeat="item in vm.monthlyProfitsCalculations.profitPerDayCalculation track by $index">$ <span ng-bind="item"></span></td>
                                    </tr>
                                    <tr>
                                        <th><label>Profits Per Month</label></th>
                                        <td ng-repeat="item in vm.monthlyProfitsCalculations.profitPerMonthCalculation track by $index">$ <span ng-bind="item"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-30">
                    <input
                        class="btn btn-primary"
                        id="calculation_btn"
                        name="ubtn"
                        value="Save calculation"
                        type="button"
                        ng-click="vm.saveData()"
                    >
                </div>
            </form>
        </div>
    </section>
{% endblock %}