<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ asset('build/fontAwesome.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/global.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/register.css') }}">
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/3web1-images/favicons/favicon.ico" type="image/ico">
    <title>3Web1</title>
</head>

<body ng-app="adminApp.register">
    <main
        class="container-fluid padding-md margin-top-double"
        ng-controller="RegisterController as vm"
        ng-init="vm.init(
            '{{ form.vars.value.sellingSite }}' === '1',
            '{{ form.vars.value.buyingSite }}' === '1',
            '{{ form.vars.value.repairingSite }}' === '1',
            '{{ form.user.storeName.vars.value }}',
            '{{ formRegistration.vars.submitted }}'
        )"
    >
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {#SITE-TYPE-BLOCK#}
        {{ form_errors(form) }}
        <section class="row">
            <div class="col">
                <div class="site-type-item">
                    {{ form_widget(form.sellingSite, {
                        'id': 'selling-site-type',
                        'attr': {
                            'class': 'custom-checkbox',
                            'ng-change' : "vm.checkboxClickHandler()",
                            'ng-model': "vm.sellingType"
                        }
                    }) }}

                    <label for="selling-site-type" class="item selling-item">{{ "Selling Website" | trans }}</label>
                    <div class="img-wrapper">
                        <img src="{{ asset('images/registration/buy-thumb.png') }}" alt="Selling Website">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="site-type-item">
                    {{ form_widget(form.buyingSite, {
                        'id': 'buyback-site-type',
                        'attr': {
                            'class': 'custom-checkbox',
                            'ng-change' : "vm.checkboxClickHandler()",
                            'ng-model': "vm.buyBackType"
                        }
                    }) }}
                    <label for="buyback-site-type" class="item buyback-item">{{ "Buyback Website" | trans }}</label>
                    <div class="img-wrapper">
                        <img src="{{ asset('images/registration/sell-thumb.png') }}" alt="Buyback Website">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="site-type-item">
                    {{ form_widget(form.repairingSite, {
                        'id': 'repair-site-type',
                        'attr': {
                            'class': 'custom-checkbox',
                            'ng-change' : "vm.checkboxClickHandler()",
                            'ng-model': "vm.repairType"
                        }
                    }) }}
                    <label for="repair-site-type" class="item repair-item">{{ "Repair / Unlock Website" | trans }}</label>
                    <div class="img-wrapper">
                        <img src="{{ asset('images/registration/repair-thumb.png') }}" alt="Repair / Unlock Website">
                    </div>
                </div>
            </div>
        </section>
        {#/SITE-TYPE-BLOCK#}

        {#PRICE-BLOCK#}
        <div class="price-title">
            <h3 >{{ "Try free for 14-days. You can change plans anytime. No Credit card required." | trans }}</h3>
        </div>
        <section class="row">
            <aside class="col">
                <div class="price-wrapper">
                    <div class="price-head table-orange">
                        <span>{{ "Monthly Billing" | trans }}</span>
                        {% for key, chargeUnit in form.billingPeriodUnit %}
                            {% if chargeUnit.vars.value == 2 %}
                                {{ form_widget(chargeUnit) }}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="price-content container-fluid">
                    {% for sitesCount, sitesCountPlans in monthlyPlans %}
                        {% for plan in sitesCountPlans %}
                            <div class="row" ng-class="{'active-row-orange': vm.checkedCount == {{ sitesCount }} }">
                                <div class="col-3 row-title">{{ plan.name }}</div>
                                <div class="col-9">${{ plan.price / 100 }} monthly <i class="fa fa-plus"></i> One time setup fee of ${{ plan.setupFee / 100 }}</div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    </div>
                </div>
            </aside>

            <aside class="col">
                <div class="price-wrapper">
                    <div class="price-head table-blue">
                        <span>{{ "Yearly Billing" | trans }}</span>
                        {% for key, chargeUnit in form.billingPeriodUnit %}
                            {% if chargeUnit.vars.value == 3 %}
                                {{ form_widget(chargeUnit) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="price-content container-fluid">
                        {% for sitesCount, sitesCountPlans in yearlyPlans %}
                            {% for plan in sitesCountPlans %}
                                <div class="row" ng-class="{'active-row-blue': vm.checkedCount == {{ sitesCount }} }">
                                    <div class="col-3 row-title">{{ plan.name }}</div>
                                    <div class="col-9">${{ plan.price / 100 }} = ${{ (plan.price / 100 / 12)|round(2,'floor') }} monthly <i class="fa fa-plus"></i> One time setup fee of ${{ plan.setupFee / 100 }}</div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </aside>
        </section>
        {#/PRICE-BLOCK#}

        {#FORM-BLOCK#}
        <div class="price-title" ng-show="vm.checkedCount > 0">
            <h3>{{ "Try free for 14-days. You can change plans anytime. No Credit card required." | trans }}</h3>
        </div>

        <section class="row form-section" id="registration-data-form" ng-show="vm.checkedCount > 0">
            <div class="form-wrapper container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="form-field-wrap">
                            <div class="form-control-title">
                                <label for="form">{{ "First name" | trans }}<span class="red">*</span></label>
                            </div>
                            {{ form_widget(form.user.firstName, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(formRegistration.firstName) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-field-wrap">
                            <div class="form-control-title">
                                <label for="form">{{ "Last name" | trans }}<span class="red">*</span></label>
                            </div>
                            {{ form_widget(form.user.lastName, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(formRegistration.lastName) }}
                        </div>
                    </div>
                </div>

                <div class="row margin-top-md">
                    <div class="col">
                        <div class="form-field-wrap">
                            <div class="form-control-title">
                                <label for="form">{{ "Enter email" | trans }}<span class="red">*</span></label>
                            </div>
                            {{ form_widget(form.user.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.user.email) }}
                            {{ form_errors(formRegistration.email) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-field-wrap">
                            <div class="form-control-title">
                                <label for="form">{{ "Enter password" | trans }}<span class="red">*</span></label>
                            </div>
                            {{ form_widget(form.user.plainPassword, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(formRegistration.plainPassword) }}
                        </div>
                    </div>
                </div>

                <div class="row margin-top-md">
                    <div class="col">
                        <div class="form-field-wrap">
                            <div class="form-control-title">
                                <label for="form">{{ "Store Name" | trans }}<span class="red">*</span></label>
                            </div>
                            <div class="store-name-wrapper">
                                {{ form_widget(form.user.storeName, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                            {{ form_errors(formRegistration.storeName) }}
                        </div>
                    </div>
                    <div class="col"></div>
                </div>

                <div class="row margin-top-lg">
                    <div class="col">
                        <button type="submit" class="btn-submit">{{ "Create your website" | trans }}</button>
                    </div>
                </div>
            </div>
        </section>
        {{ form_end(form) }}

        {#/FORM-BLOCK#}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="{{ asset('build/globalJs.js') }}"></script>
    <script src="{{ asset('build/registerApp.js') }}"></script>
</body>
</html>
