{% if tdWrap %}
<td class="sonata-ba-list-field sonata-ba-list-field-text" objectId="{{ modelId }}">
{% endif %}
<div>
    <span class="x-editable"
          data-type="text"
            {% if userPrice %}
                data-value="{{ userPrice }}"
            {% endif %}
          data-title="{{ priceTypeTitle }}"
          data-pk="{{ modelId }}"
          data-url="{{ path('api_edit_price', {
              'model_id' : modelId,
              'price_type_id': priceTypeId
          }) }}">
        {% if userPrice %}
            {{ userPrice }}
        {% endif %}
    </span>
</div>
{% if not is_granted('ROLE_SUPER_ADMIN') and adminPrice %}
<div>
    {% if synchronized %}
        {{ adminPrice }}
    {% else %}
    <span class="x-editable"
          data-type="checklist"
          data-title="{{ priceTypeTitle }}"
          data-pk="{{ modelId }}"
          data-source="{'1': 'synchronize'}"
          data-emptytext="{{ adminPrice }}"
          data-url="{{ path('api_syncronize_price', {
              'model_id' : modelId,
              'price_type_id': priceTypeId
          }) }}">
    </span>
    {% endif %}
</div>
{% endif %}
{% if tdWrap %}
</td>
{% endif %}
