<div class="modal fade" id="disclaimerModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="close_disclaimer_modal" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit disclaimer</h4>
            </div>
            <div class="modal-body disclaimer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                {{ form_start(disclaimerForm) }}
                                {{ form_widget(disclaimerForm.content, {'attr': {'ng-model': 'vm.disclaimer'}}) }}
                                <div class="btn btn-success" ng-click="vm.editDisclaimer()">Create</div>
                                {{ form_end(disclaimerForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>