<div class="modal fade" id="customerModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="close_customer_modal" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Customer</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                {{ form_start(customerForm) }}
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label class="control-label">
                                            <label>Company</label>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.company, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.company'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="sonata-ba-collapsed-fields left-half">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ form_label(customerForm.firstname) }}
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.firstname, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.firstname'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="sonata-ba-collapsed-fields right-half">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ form_label(customerForm.lastName) }}
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.lastName, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.lastName'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="clear-both"></div>
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ form_label(customerForm.email) }}
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.email, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.email', 'ng-class' :"{error: vm.submittedCustomer && !vm.customer.email}"}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label class="control-label">
                                            <label>Business phone</label>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.businessPhone, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.businessPhone'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ form_label(customerForm.phone) }}
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.phone, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.phone'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label class="control-label">
                                            <label>ID/Drivers license</label>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.driverLicense, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.driverLicense'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ form_label(customerForm.addressLine1) }}
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.addressLine1, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.addressLine1'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ form_label(customerForm.addressLine2) }}
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.addressLine2, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.addressLine2'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="sonata-ba-collapsed-fields left-half">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ form_label(customerForm.city) }}
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.city, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.city'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="sonata-ba-collapsed-fields right-half">
                                    <div class="form-group">
                                        <label class="control-label">
                                            <label>Zip/postal code</label>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.zip, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.zip'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="clear-both"></div>
                                <div class="sonata-ba-collapsed-fields left-half">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ form_label(customerForm.country) }}
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.country, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.country'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="sonata-ba-collapsed-fields right-half">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ form_label(customerForm.state) }}
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.state, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.state'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="clear-both"></div>
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ form_label(customerForm.note) }}
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(customerForm.note, {'attr': {'class': 'form-control', 'ng-model':'vm.customer.note'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="btn btn-success" ng-click="vm.createCustomer()">Create</div>
                                {{ form_end(customerForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
