{% if isAccessibleOrderType(1) %}
    <li>
        <a class="sonata-action-element" href="{{ path('admin_create_order', {'type': 1}) }}">
            <i class="fa fa-plus-circle"></i> New sale order
        </a>
    </li>
{% endif %}
{% if isAccessibleOrderType(2) %}
    <li>
        <a class="sonata-action-element" href="{{ path('admin_create_order', {'type': 2}) }}">
            <i class="fa fa-plus-circle"></i> New buyback order
        </a>
    </li>
{% endif %}
{% if isAccessibleOrderType(3) %}
    <li>
        <a class="sonata-action-element" href="{{ path('admin_create_order', {'type': 3}) }}">
            <i class="fa fa-plus-circle"></i> New repair order
        </a>
    </li>
{% endif %}