{% for order in orders %}
    {% if order.status in statuses %}
        <p>
            <a href="{{ path('admin_order_edit', {'id': order.id}) }}">
                {% for item in order.items %}
                    {% if item.title %}
                        {{ item.title }}
                    {% else %}
                        {{ item.model }}
                    {% endif %}
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            </a>
        </p>
    {% endif %}
{% endfor %}