table.sonata-ba-list img {
    max-width: 100%;
    height: auto;
    max-height: 100px;
}

.vich-image img, .image_preview {
    max-width: 40%;
    max-height: 120px;
}

#image_preview {
    margin-top: 10px;
}

.clear-both {
    clear: both;
}

.bottom-separator {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 8px !important;
    padding-bottom: 8px !important;
}

.hidden-field {
    position: absolute;
    visibility: hidden;
}

.buyback-item {
    margin-bottom: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cfcfcf;
}

.buyback-item-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.error {
    border-color: red;
}

.left-half {
    width: 49%;
    display: inline-block;
    float: left;
}

.right-half {
    width: 49%;
    display: inline-block;
    float: right;
}

.settings i {
    font-size: 32px;
}

.settings .row {
    margin-bottom: 20px;
}

.disclaimer .btn-success {
    margin-top: 15px;
}

.pointer {
    cursor: pointer;
}

.trial-row {
    margin-top: 20px;
}

.fa-pencil:before {
    content: "\f044";
}

.fa-arrow-circle-o-down:before {
    content: "\f0ab";
}

.fa-check-square-o:before {
    content: "\f14a";
}

.fa-square-o:before {
    content: "\f0c8";
}

.fa-sign-out:before {
    content: "\f2f5";
}