@import "../_color.scss";

body {
    background: $light-grey;

    .header {
        padding: 10px 0 0 46px;

        .left {
            margin: 15px 30px;
        }

        .right {
            margin: 15px 30px;

            img {
                width: 60px;
            }
        }

        .right-text {
            float: right;

            p {
                text-align: right;
            }
        }
    }

    .clear {
        clear: both;
    }

    .main p, .items {
        padding: 0 36px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        width: 100%;
    }

    th, td {
        padding: 15px;
    }

    .sign {
        float: right;
        margin: 50px 40px 0 0;
    }

    .page {
        background: $white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        width: 21cm;
        height: 29.7cm;
    }

    .right {
        float: right;
    }

    .left {
        float: left;
    }

    .first {
        margin-right: 15px;
        p {
            text-align: right;
        }
    }

    .second {
        margin-right: 10px;
        p {
            text-align: left;
        }
    }

    .signature img{
        max-width: 200px;
    }
}

@media print {
    body, .page {
        margin: 0;
        box-shadow: none;
    }
}

