{% extends 'AdminBundle::standard_layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}"><i class="fa fa-home"></i></a></li>
    <li class="active"><span>Ebay templates generator</span></li>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/EbayTemplatesApp.js') }}"></script>
{% endblock %}

{% block content %}
    <section id="ebay-templates" ng-app="adminApp.ebayTemplates">
        <h3>Ebay templates generator</h3>
        <div class="container_fluid">
            {% if form is defined %}
            <div class="row">
                {{ form_start(form, {'method': 'POST', 'action': path('admin_ebay_templates_generator')}) }}
                <div class="col-md-2">
                    Template: {{ form_widget(form.templateType) }}
                </div>
                <div class="col-md-2">
                    Model: {{ form_widget(form.inventoryItem) }}
                </div>
                <div class="col-md-2">
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                {{ form_end(form) }}
            </div>
            {% endif %}

            {% if ebayTemplate %}
                <div
                    class="row mt-30"
                    ng-controller="EbayTemplatesController as vm"
                >
                    <div class="col-md-6">
                        <input type="hidden" value="{{ ebayTemplate }}" class="js-copy">
                        <textarea class="code" ng-model="vm.textToCopy"></textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary"
                                clipboard supported="vm.supported" text="vm.textToCopy" on-error="vm.fail(err)"
                        >Copy</button>
                    </div>
                </div>

                <div class="row mt-30">
                    <div class="col-md-12">
                        <iframe height="500" width="100%" frameborder="0" title="description" srcdoc='{{ ebayTemplate|raw}}'>
                        </iframe>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}