{% extends 'AdminBundle::standard_layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}"><i class="fa fa-home"></i></a></li>
    <li class="active"><span>Business performance</span></li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/datepicker.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/businessPerformanceApp.js') }}"></script>
{% endblock %}

{% block content %}
    <section
        id="business-performance"
        ng-app="adminApp.businessPerformance"
        ng-controller="BusinessPerformanceController as vm"
        ng-cloak="hidden"
    >
        <h3>Business performance</h3>
        <div class="container_fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>Selling graph</h3>
                </div>
                <div class="col-md-12">
                    <form>
                        <label>From:</label>
                        {% verbatim %}
                        <div class="datepicker-wrapper" >
                            <datepicker date-format="EEEE, MMMM d, y" date-set="{{vm.startDate}}">
                                <input ng-model="vm.dateFrom" type="text"/>
                            </datepicker>
                        </div>
                        <label>To:</label>
                        <div class="datepicker-wrapper">
                            <datepicker date-format="EEEE, MMMM d, y" date-set="{{vm.endDate}}">
                                <input ng-model="vm.dateTo" type="text"/>
                            </datepicker>
                        </div>
                        {% endverbatim %}
                        <button type="button" class="btn btn-primary datepicker-submit" ng-click="vm.getStatsData()">send</button>
                    </form>
                </div>
            </div>
            <div class="row mt-10" ng-show="vm.chartDates.length">
                <div class="col-md-12 mt-10" >
                    <div class="info-wrapper">
                        <span>Total Inventory Invoiced:</span>
                        <span ng-bind="vm.data.totalInventoryInvoiced"></span>
                    </div>
                    <div class="info-wrapper">
                        <span>Total Payments Collected:</span>
                        <span ng-bind="vm.data.totalPaymentsCollected / 100 + ' $'"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 chart-wrapper mt-25" ng-show="vm.chartDates.length">
                    <div zingchart class="zingchart" id="myChart" zc-render="vm.zcRenderConfig" zc-json="vm.zcChartConfig"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}