{% set object = attribute(object,field_description.options.code) %}
<td>
    {% if object is not empty %}
        <img style="float: left;" src="{{ vich_uploader_asset(object, 'imageFile') }}" title="{{ object.imageName }}"/>
    {% endif %}
</td>
