{% set category_name = '' %}
{% for object in admin.datagrid.results %}
    {% set  current_category_name = object.category.name %}

    {% if current_category_name != category_name %}
        <tr>
            <td colspan="10">
                <b>{{ current_category_name }}</b>
            </td>
        </tr>
        {% set category_name = current_category_name %}
    {% endif %}

    <tr>
        <td>
            {% include admin.getTemplate('inner_list_row') %}
        </td>
    </tr>
{% endfor %}
