{% extends "SonataAdminBundle:CRUD:base_show_field.html.twig" %}

{% block field %}
    {% if value %}
        <img class="image_preview" src="{{ vich_uploader_asset(value, 'imageFile') }}" alt="{{ value.imageName }}">
    {% endif %}
{% endblock %}
