{% extends "SonataAdminBundle:CRUD:base_show_field.html.twig" %}

{% block field %}
    {% if value|length %}
        {% for item in filterPrices(value.toArray, app.user) %}
            <div class="row bottom-separator">
                <div class="col-md-2">{{ item.pricetype.title }}</div>
                <div class="col-md-2">${{ item.value|format_price }}</div>
                <div class="col-md-2">{{ showPriceTypeType(item.pricetype.site) }}</div>
                <div class="col-md-4">{{ item.pricetype.description }}</div>
                <div class="col-md-2">
                    {% if app.user == item.owner %}
                        <a class="btn btn-sm btn-default" href="{{ path('admin_edit_price', {'id': item.id}) }}">Edit</a>
                        <a class="btn btn-sm btn-danger" href="{{ path('admin_delete_price', {'id': item.id}) }}">Delete</a>
                    {% else %}
                        {% if app.user not in item.users %}
                            <a class="btn btn-sm btn-default"
                               href="{{ path('admin_synchornize_price', {'id': item.id}) }}">synchronyze</a>
                        {% else %}
                            <a class="btn btn-sm btn-danger"
                               href="{{ path('admin_synchornize_price', {'id': item.id}) }}">desynchronyze</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="pull-right ">
        <a class="btn btn-sm btn-success" href="{{ path('admin_create_price', {'id': object.id}) }}">
            <i class="fa fa-plus"></i>  Add price
        </a>
    </div>
{% endblock %}
