{% extends "SonataAdminBundle:CRUD:base_show_field.html.twig" %}

{% block field %}
    {% if value|length %}
        {% for item in value %}
            {{ item.title }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
