<script>
    $(document).ready(function () {
        var logos = {};
        {% for image in images %}
            var image{{ image.id }} = '{{ image.content|raw }}';
            logos['logo-' + {{image.id}}] = image{{ image.id }};
        {% endfor %}
        $('.target').parent('div').append("<div id='image_preview'></div>");
        var container = $("#image_preview");
        {# apply selected colors to image preview #}
        function applyColors() {
            $('.defaul_image_color').each(function () {
                if ($(this).val() != 'FFFFFF') {
                    $('path.' + $(this).data('param')).css('fill', $(this).val())
                }
            })
        }
        {# display image and apply colors #}
        function displayImage() {
            if ($('.target option:selected').val()) {
                container.html(eval('image'+$('.target option:selected').val()));
                applyColors();
            } else {
                container.html('');
            }
        }
        displayImage();

        {# trigger on color or image change #}
        $('.defaul_image_color, .target').on('change', function () {
            displayImage();
        });

        $('#select2-results-5').bind('DOMSubtreeModified', function () {
           $('#select2-results-5 li .select2-result-label').each(function () {
               if (logos[$(this).text()] != undefined && !$(this).has('svg').length) {
                   $(this).prepend('<span class="svg_list">' + logos[$(this).text()] + '</span>');
               }
           })
        });
    });
</script>
