{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="row" id="client-notes">
        <div class="col-lg-12">
            <h4>Notes or Reminders</h4>
        </div>
        <div class="col-lg-12">
            <ul class="notes-list">
                {% for note in notes %}
                    <li>
                        <i class="fa fa-file-text-o"></i>
                        <a class="float-right delnote" href="{{ path('admin_delete_client_note', {'id': note.id}) }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <span class="notes-list__content">{{ note.content }}</span>
                        <span class="notes-list__date">{{ note.createdAt|date('F d-Y H:i')}}</span>
                        <span class="notes-list__user">{{ note.owner }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-lg-12">
            {{ form_start(form, {'attr': {'class': 'note-form'}}) }}
                <div class="row">
                    <div class="col-sm-11">
                        {{ form_widget(form.content, {'attr': {'class': 'note-form__textarea', 'placeholder': 'Type your Notes or Reminders'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <input class="btn btn-primary note-form__submit" value="ADD" type="submit">
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
