{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="row counter_box">
        <div class="col-md-3">
            <div class="alert label-success box">
                <h4>Total Customer</h4>
                <h5>(Last 30 days)</h5>
                <p>{{ statsData.newCustomers }}</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="alert label-warning box currentPackage">
                <div class="row">
                    <div class="col-sm-2">
                        <h4>Inventory Added</h4>
                        <h5>(Last 30 days)</h5>
                        <p>{{ statsData.inventoryItems.itemsCount }}</p>
                    </div>
                    <div class="col-sm-2">
                        <h4>Inventory Cost</h4>
                        <h5>(Last 30 days)</h5>
                        <p>$ {{ statsData.inventoryItems.itemsCost | format_price }}</p>
                    </div>
                    <div class="col-sm-2">
                        <h4>Inventory Sold</h4>
                        <h5>(Last 30 days)</h5>
                        <p>{{ statsData.inventoryItemsSold.itemsCount }}</p>
                    </div>
                    <div class="col-sm-2">
                        <h4>Payments Collected</h4>
                        <h5>(Last 30 days)</h5>
                        <p>$ {{ statsData.inventoryItemsSold.itemsCost | format_price }}</p>
                    </div>
                    <div class="col-sm-2">
                        <h4>Unsold Inventory Cost</h4>
                        <p>$ {{ statsData.inventoryUnsoldCost|format_price }}</p>
                    </div>
                    <div class="col-sm-2">
                        <h4>Inventory On Website</h4>
                        <p>$ {{ statsData.inventoryItemsPriceOnSite | format_price }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
