{% if getUserOrUserSupervisor(app.user) != object.owner %}
    {% if getUserOrUserSupervisor(app.user) not in object.users %}
        <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('synchronize', object) }}">synchronize</a>
    {% else %}
        <a class="btn btn-sm btn-danger" href="{{ admin.generateObjectUrl('synchronize', object) }}">desynchronize</a>
    {% endif %}
{% endif %}
