#business-performance {
    @import "_chart.scss";

    form {
        .date-picker-field {
            height: 30px;
            border: 1px solid #ccc;
            padding-left: 10px;
        }

        .datepicker-submit {
            margin-top: -2px;
        }
    }

    datepicker {
        width: 220px;
        input {
            width: 100%;
            height: 30px;
            border: 1px solid #ccc;
            padding-left: 10px;
        }
    }

    .datepicker-wrapper {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        margin-left: 5px;
    }

    .info-wrapper {
        font-weight: 700;
        font-size: 20px;
    }
}
