$white: #fff;
$link-water: #d8e6f4;
$grey-white: #ddd;
$light-grey: #ccc;
$grey: #bbb;
$gallery: #efefef;

$mercury: #E9E9E9;
$dusty-gray: #999;
$dark-grey: #666;
$emperor: #555;

$green: #09ad7e;
$dark-green: #8eac2c;
$fern: #5cb85c;

$light-blue: #5bc0de;
$blue: #4b7ab2;
$dark-blue: #4778d9;

$curious-blue: #2489c5;
$astral: #337ab7;
$azure: #2e6da4;
$fun-blue: #1e6bb7;
$cerulean-blue: #2868ba;

$portage: #8085e9;

$red: #d9534f;

$orange: #df5409;

$tan-hide: #f7a35c;
$light-orange: #ee753b;
$lightest-orange: #f27137;
