$spacing-value: (5, 10, 15, 20, 25, 30);
$spacing-direction: ('t', 'r', 'b', 'l');

@function getDirectionName($direction) {
  @if $direction == 't' {
    @return 'top';
  }

  @if $direction == 'r' {
    @return 'right';
  }

  @if $direction == 'l' {
    @return 'left';
  }

  @if $direction == 'b' {
    @return 'bottom';
  }
}

@mixin generate-spacing() {
    @each $direction in $spacing-direction {
        @each $value in $spacing-value {
            .m#{$direction}-#{$value} {
                margin-#{getDirectionName($direction)}: #{$value}px;
            }
        }
    }
}

@include generate-spacing();
