.admin-order-slider-block .table thead tr th:nth-child(2) {
  width: 10px;
}

.admin-order-slider-block .table thead tr th:nth-child(3) {
  width: 160px;
}

.admin-order-slider-block .table thead tr th:nth-child(4) {
  width: 200px;
}

.admin-order-slider-block .table>thead>tr>th,
.admin-order-slider-block .table>tbody>tr>td {
  text-align: center;
  padding: 5px;
}

.admin-order-slider-block .vich-image img {
  max-width: 100%;
}

.alert-dismissable .close, .alert-dismissible .close {
  top: 0px;
  right: 0px;
}
