.sell-item div {
  display: inline-block;
}

.sell-item {
  margin-bottom: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cfcfcf;
}

.sell-item  > div:first-child {
  width: 90%;
}

.sell-item > div > div:first-child {
  width: 45%;
}

.sell-item > div > div:nth-child(2),
.sell-item > div > div:nth-child(3) {
  width: 25%;
}

.sell-item > div > div:nth-child(2) input,
.sell-item > div > div:nth-child(3) input {
  width: 68px;
}

.ui-select-match, .ui-select-container input {
  min-width: 300px;
}

.operation-buttons div {
  display: inline-block;
  margin-right: 15px;
}
