.buyback-item div, .sell-item div {
  display: inline-block;
}

.buyback-item  > div:first-child {
  width: 90%;
}

.buyback-item > div > div:first-child {
  width: 35%;
}

.buyback-item > div > div:nth-child(3) {
  width: 20%;
}

.buyback-item > div > div:nth-child(2),
.buyback-item > div > div:nth-child(4),
.buyback-item > div > div:nth-child(5) {
  width: 14%;
}

.buyback-item > div > div:nth-child(2) input,
.buyback-item > div > div:nth-child(4) input,
.buyback-item > div > div:nth-child(5) input,
.sell-item > div:nth-child(2) > div:first-child input,
.amount-paid {
  width: 68px;
}

.buyback-item > div > div:nth-child(6),
.buyback-item > div > div:nth-child(7) {
  width: 49%;
  padding: 0 10px;
}

.price-type-select {
  width: 200px;
}

.ui-select-match, .ui-select-container input {
  min-width: 300px;
}

.sell-item > div:first-child {
  width: 72%;
}

.sell-item > div:first-child > div:first-child {
  width: 43%;
}

.sell-item > div:first-child > div:nth-child(2) {
  width: 18%;
}

.sell-item > div:first-child > div:nth-child(3) {
  width: 27%;
}

.sell-item > div:nth-child(2) {
  width: 100%;
}

.sell-item > div:nth-child(2) > div:first-child {
  position: relative;
  top: -27px;
  right: -74.5%;
}

.sell-item > div:nth-child(2) > div:nth-child(3),
.sell-item > div:nth-child(2) > div:nth-child(4) {
  width: 40%;
  padding: 0 10px;
  left: -77px;
  position: relative;
}

.sell-item > div:nth-child(3) {
  position: relative;
  top: -65px;
  left: 86%;
}