@import "../_common.scss";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

h3 {
    font-size: 24px;
}

.padding-md {
    padding: 0 55px;
}

.margin-top-md {
    margin-top: 20px;
}

.margin-top-lg {
    margin-top: 30px;
}

.margin-top-double {
  margin-top: 30px;
}

.site-type-item {
    min-width: 300px;
    max-width: 500px;
    margin-top: 15px
}

.img-wrapper {
    border: solid 1px $light-grey;
    padding: 20px;

    img {
        width: 100%;
    }
}

.custom-checkbox {
    display: none;
}

.custom-checkbox:not(:checked) + label, .custom-checkbox:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.custom-checkbox:not(:checked) + label::before, .custom-checkbox:checked + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 25px;
    height: 25px;
    border: 1px solid $grey;
    background: $white;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

.custom-checkbox:not(:checked) + label::after {
    display: none;
}

.custom-checkbox:checked + label::after {
    content: '✔';
    position: absolute;
    top: 5px;
    left: 6px;
    font-size: 20px;
    line-height: 0.8;
    color: $green;
    transition: all .2s;
}

.custom-checkbox + label:hover::before {
    border: 1px solid $dark-blue !important;
}

.item {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
}

.selling-item {
    color: $blue;
}

.buyback-item {
    color: $light-orange;
}

.repair-item {
    color: $dark-green;
}

.price-title {
    margin-top: 50px;
}

.price-wrapper {
    font-family: 'Raleway', sans-serif;
    color: $dark-grey;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding-bottom: 15px;
    min-width: 500px;
}

.table-orange {
    background: $light-orange !important;
}

.table-blue {
    background: $light-blue !important;
}

.red {
    color: $red;
}

.price-head {
    color: $white;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 27px;
}

.price-content {
    margin-top: 35px;

    .row {
        padding: 13px 14px;
        font-size: 14px;

        &:nth-child(2) {
            border-top: dashed 1px $light-grey;
            border-bottom: dashed 1px $light-grey;
        }

        i {
            margin: 0 6px;
        }
    }
}

.row-title {
    font-weight: 700;
}

.form-section {
    padding: 0 14px 14px 14px;
}

.form-wrapper {
    padding:  25px 35px;
    background: $grey-white;
    border-radius: 10px;

    .form-control {
        border: none;
        height: 45px;
    }
}

.form-field-wrap {
    min-width: 300px;
}

.form-control-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 10px;
}

.btn-submit {
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 34px;
    height: 44px;
    background: $lightest-orange;
    background: linear-gradient(to bottom, $lightest-orange 0, $orange 100%);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    font-size: 18px;
    line-height: 1.33;

    &:disabled {
        opacity: .65;
    }
}

.active-row-orange {
    background-color: $light-orange;
    color: $white;
}

.active-row-blue {
    background-color: $light-blue;
    color: $white;
}

.store-name-wrapper {
    input {
        float: left;
    }
    .store-name {
        max-width: 80%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .store-domain {
        max-width: 20%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: $light-grey;
    }
}

.hidden {
    visibility: hidden;
}