{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('admin/build/select-ui.css') }}"/>
{% endblock %}

{% block form %}
<script>
    angular.bootstrap(document.getElementById('model_ajax_form'), ["adminApp.modelEdit"]);
</script>
<div ng-app="adminApp.modelEdit" id="model_ajax_form">
    <div ng-controller="ModelEditController as vm" ng-init="vm.init()">
        {{ block('parentForm') }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/modelEditApp.js') }}"></script>
{% endblock %}
