<li ng-show="
    buyDomainForm.{{ field_name }}.$error.required && buyDomainForm.{{ field_name }}.$touched ||
    buyDomainForm.{{ field_name }}.$error.required && DomainBuyVm.formSubmitted"
>
    {{ "This value should not be blank." | trans }}
</li>