{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block list_filters_actions %}{% endblock %}
{% block actions %}{% endblock %}

{% block no_result_content %}
    <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</span>
            <div class="progress">
                <div class="progress-bar" style="width: 0%"></div>
            </div>
            <span class="progress-description">
                {% if not app.request.xmlHttpRequest %}
                    <ul class="list-unstyled">
                        {% include '@Admin/partials/new_order_actions.html.twig' %}
                    </ul>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}

{% block list_filters %}
    <div ng-app="adminApp.inventoryItem">
        <div ng-controller="OrderListController as vm" ng-init="vm.init('{{ form.children['product'].vars.value.value|escapeQuotes }}', '{{ form.children['barcode'].vars.value.value }}')">
            {{ parent() }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/build/OrderListApp.js') }}"></script>
{% endblock %}
