{% extends '@Admin/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('admin/build/signature.css') }}"/>
    <link rel="stylesheet" href="{{ asset('admin/build/select-ui.css') }}"/>
    <link rel="stylesheet" href="{{ asset('admin/build/order.css') }}"/>
{% endblock %}

{% block sonata_admin_content %}
    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
<div id='core' ng-app="adminApp.orderEdit">
    <div ng-controller="OrderEditController as vm" ng-init="vm.init('{{ disclaimer.description }}', '{{ disclaimer.pageType }}', '{{ form.vars.value.amountPaid|format_price }}', '{{ app.user.config.tax|format_price }}')">
        {{ form_start(form) }}
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            {% if status in [0,1] %}
                                {% if status == 0 %}Create{% else %}Edit{% endif %}
                                {% if type  == 1 %}
                                     selling
                                {% endif %}
                                {% if type  == 2 %}
                                    a buyback
                                {% endif %}
                                {% if type  == 3 %}
                                    a repair
                                {% endif %}
                                order
                            {% else %}
                                Order {% if status == 2 %}completed{% if type == 2 %} and items added to inventory{% endif %}{% else %}rejected{% endif %} on {{ updatedAt|date }}
                            {% endif %}
                        </div>
                        <div class="box-body  container-fluid">
                            <div class="col-md-6">
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural" {% if status not in [0,1] %}ng-if="false"{% endif %}>
                                            {{ form_widget(form.customer) }}
                                        </div>
                                        {% if status not in [0,1] and order.customer %}
                                            <a href="{{ path('admin_customer_details', {'id': order.customer.id}) }}">{{ order.customer.email }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                {% if status in [0,1] %}
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#customerModal">Add new</button>
                                {% endif %}
                            </div>
                            <div class="col-md-12">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <div class="form-group col-md-4">
                                            <label class="control-label required">
                                                Payment Type
                                            </label>
                                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                {% if status in [0,1] %}
                                                    {{ form_widget(form.paymentType, {'attr': {'class': 'form-control'}}) }}
                                                {% else %}
                                                    {{ form_widget(form.paymentType, {'attr': {'class': 'form-control', 'disabled':'false'}}) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label required">
                                                Delivery Type
                                            </label>
                                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                {% if status in [0,1] %}
                                                    {{ form_widget(form.deliveryType, {'attr': {'class': 'form-control'}}) }}
                                                {% else %}
                                                    {{ form_widget(form.deliveryType, {'attr': {'class': 'form-control', 'disabled':'false'}}) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if form.shippingAddress is defined %}
                                            <div class="form-group col-md-4">
                                                <label class="control-label required">
                                                    Shipping address
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {% if status in [0,1] %}
                                                        {{ form_widget(form.shippingAddress, {'attr': {'class': 'form-control'}}) }}
                                                    {% else %}
                                                        {{ form_widget(form.shippingAddress, {'attr': {'class': 'form-control', 'disabled':'false'}}) }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="box box-primary">
                                    {% if originalOrder is defined and originalOrder %}
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                Original order
                                            </h4>
                                        </div>
                                        <div class="box-body">
                                            {% for quantity, title in originalOrder %}
                                                <p>Model: {{ title }}, quantity: {{ quantity }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            Items
                                        </h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="buyback-item buyback-item-header">
                                            {% if type == 1 %}
                                                <div>
                                                    <div>Product</div>
                                                    <div>Barcode</div>
                                                    <div>Condition</div>
                                                    <div>Price, $</div>
                                                    <div>Total, $</div>
                                                </div>
                                            {% else %}
                                                <div>
                                                    <div>Product</div>
                                                    <div>Price, $</div>
                                                    {% if type == 3 %}
                                                        <div>Service</div>
                                                    {% else %}
                                                        <div>Condition</div>
                                                    {% endif %}
                                                    <div>Quantity</div>
                                                    <div>Total, $</div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% if type == 1 %}
                                            <div id="sell-items" data-prototype="{{ form_widget(form.orderItems.vars.prototype)|e('html_attr') }}" data-index="0">
                                            {% for orderItem in form.orderItems %}
                                                {% set barcode = orderItem.vars.value.barcode %}
                                                <div class="sell-item" id="order_item_{{ barcode.id }}" ng-controller="ModelWidgetController as vmRow" ng-init="
                                                    vmRow.price = {{ barcode.sellPrice|format_price }};
                                                    vmRow.init('{{ barcode.id }}')
                                                    ">
                                                    <div class="sell-item-header">
                                                        <div>{{ barcode.inventoryItem.model }}</div>
                                                        <div>{{ barcode.barcode }}</div>
                                                        <div>{{ barcode.inventoryItem.price.priceType }}</div>
                                                        <div>${{ barcode.inventoryItem.price.value|format_price }}</div>
                                                    </div>
                                                    {{ form_widget(orderItem) }}
                                                    {% if status in [0,1] %}
                                                        <div class="btn btn-danger remove-button" ng-click="vmRow.removeRow('{{ barcode.id }}')">Remove</div>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                            </div>
                                            <div {% if status not in [0,1] %}ng-if="false"{% endif %}>
                                                {{ form_widget(form.searchBarcode) }}
                                            </div>
                                        {% endif %}
                                        {% if type in [2, 3] %}
                                            {% for inventoryItem in form.items %}
                                                {% set item = inventoryItem.vars.value %}
                                                <div class="buyback-item" id="order_item_{{ item.id }}" ng-controller="ModelWidgetController as vmRow" ng-init="
                                                    vmRow.price = {{ item.purchasePrice|format_price }};
                                                    vmRow.quantity = {{ item.quantity }};
                                                    vmRow.init('{{ item.id }}', {{ inventoryItem.children['searchModel'].vars.value }})
                                                    ">
                                                    {{ form_widget(inventoryItem) }}
                                                    {% if status in [0,1] %}
                                                        <div class="btn btn-danger remove-button" ng-click="vmRow.removeRow('{{ item.id }}')">Remove</div>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                            <div id="sell-items" data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}" data-index="0">
                                            </div>
                                            {% if status in [0,1] %}
                                                <div class="btn btn-success" ng-click="vm.addInventoryItem()">Add</div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                {% if status in [0,1] %}
                                    <label class="btn">
                                        <input type="checkbox" ng-model="vm.showSignature">
                                        Add signature
                                    </label>
                                {% endif %}
                                <div ng-show="vm.showSignature">
                                    <div ng-bind-html="vm.disclaimer"></div>
                                    <div>
                                        <a href="#" data-toggle="modal" data-target="#disclaimerModal">Edit disclaimer</a>
                                    </div>
                                    {{ form_widget(form.signatureImage) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <div>Subtotal</div>
                                    <div>Tax</div>
                                    <div>Total</div>
                                    <div>Amount Paid</div>
                                    <div>Balance Due</div>
                                </div>
                                <div class="col-md-6">
                                    <div>$<span ng-bind="vm.subtotal"></span></div>
                                    <div>{{ form_widget(form.tax, {'attr': {'class': 'amount-paid', 'ng-model': 'vm.tax', 'ng-change':'vm.taxChange()'}}) }}%</div>
                                    <div>$<span ng-bind="vm.total"></span></div>
                                    <div>${{ form_widget(form.amountPaid, {'attr': {'class': 'amount-paid', 'ng-model': 'vm.amountPaid', 'ng-change':'vm.amountPaidChange()', 'ng-blur': 'vm.formatAmountPaid()'}}) }}</div>
                                    <div>$<span ng-bind="vm.dueTo"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if status in [0,1] %}
                <div class="sonata-ba-form-actions well well-small form-actions stuck row">
                    {% if status == 0 %}
                        <button type="submit" class="btn btn-success" name="btn_create">Create</button>
                    {% else %}
                        <button type="submit" class="btn btn-success" name="btn_update">Update</button>
                        <button type="submit" class="btn btn-success" name="btn_complete">Complete</button>
                        <button type="submit" class="btn btn-danger" name="btn_reject">Reject</button>
                    {% endif %}
                </div>
            {% endif %}
        </section>
        {{ form_end(form) }}
        <!-- Modal -->
        {% include '@Admin/partials/modal_customer.html.twig' %}
        {% include '@Admin/partials/modal_disclaimer.html.twig' %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/build/orderEditApp.js') }}"></script>
    <script src="{{ asset('admin/build/signature_capture.js') }}"></script>
{% endblock %}
