{% extends '::base.html.twig' %}

{% block title %}Order{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/invoice.css') }}"/>
{% endblock %}

{% block body %}
    <div class="page">
        <div class="header">
            <div class="left">
                <h4>Order #{% if order.storeId %}{{ order.storeId }}{% else %}{{ order.id }}{% endif %}</h4>
            </div>
            <div class="right">
                {% if user.config.configLogo.useDefaultImage and user.config.configLogo.defaultImage %}
                    <img src="{{ vich_uploader_asset(user.config.configLogo.getRenderedLogoImage, 'imageFile') }}"
                         alt="{{ user.config.configLogo.getRenderedLogoImage.imageName }}">
                {% elseif user.config.configLogo.getLogoImage %}
                    <img src="{{ vich_uploader_asset(user.config.configLogo.getLogoImage, 'imageFile') }}"
                         alt="{{ user.config.configLogo.getLogoImage.imageName }}">
                {% else %}
                    <img src="{{ asset('images/repair_logo2sm.png') }}"
                         alt="logo.png">
                {% endif %}
            </div>
            <div class="right-text">
                <p>{{ user.storeName }}</p>
                <p>{{ location.description }}</p>
                <p>{{ location.phone }}</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="main">
            <p>Customer: {% if order.customer %}{{ order.customer.firstName }} {{ order.customer.lastName }}{% endif %}</p>
            <p>Business Name: {% if order.customer %}{{ order.customer.company }}{% endif %}</p>
            <p>Phone: {% if order.customer %}{{ order.customer.phone }}{% endif %}</p>
            <p>Email: {% if order.customer %}{{ order.customer.email }}{% endif %}</p>
            <p>Date: {{ order.createdAt|date("m-d-Y") }}</p>
        </div>
        <div class="items">
            <table>
            {% if order.siteType == 1 %}
                <tr>
                    <th></th>
                    <th>Model</th>
                    <th>Barcode</th>
                    <th>Condition</th>
                    <th>Shipping price</th>
                    <th>Price</th>
                </tr>
                {% for item in order.purchaseBarcodes %}
                    <tr>
                        <td width="5%">{{ loop.index }}</td>
                        <td width="35%">{{ item.inventoryItem.model }}</td>
                        <td width="25%">{{ item.barcode }}</td>
                        <td width="15%">{{ item.inventoryItem.price.priceType.title }}</td>
                        {% if item.inventoryItem.shippingPrice %}
                            <td width="10%">${{ item.inventoryItem.shippingPrice|format_price }}</td>
                        {% else %}
                            <td width="10%">free</td>
                        {% endif %}
                        <td width="10%">${{ item.inventoryItem.price.value|format_price }}</td>
                    </tr>
                    <tr>
                        <td colspan="6">Description: {{ item.orderItem.description }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                    <tr>
                        <th></th>
                        <th>Model</th>
                        <th>Quantity</th>
                        <th>{% if order.siteType == 2 %}Condition{% else %}Service{% endif %}</th>
                        <th>Price</th>
                    </tr>
                    {% for item in order.items %}
                        <tr>
                            <td width="5%">{{ loop.index }}</td>
                            <td width="25%">{{ item.model }}</td>
                            <td width="15%">{{ item.quantity }}</td>
                            <td width="20%">{{ item.priceType }}</td>
                            <td width="10%">${{ item.purchasePrice|format_price }}</td>
                        </tr>
                        <tr>
                            <td colspan="6">Description: {{ item.orderItem.description }}</td>
                        </tr>
                    {% endfor %}
            {% endif %}
            </table>

            <div class="right second">
                <p>${{ subtotal|format_price }}</p>
                <p>{{ tax|format_price }}%</p>
                <p>${{ total|format_price }}</p>
                <p>${{ amountPaid|format_price }}</p>
                <p>${{ balanceDue|format_price }}</p>
            </div>
            <div class="right first">
                <p>Subtotal:</p>
                <p>Tax:</p>
                <p>Total:</p>
                <p>Amount Paid:</p>
                <p>Due to:</p>
            </div>
            <div class="clear"></div>
            <div class="left">
                <div>{{ disclaimer }}</div>
                {% if order.customer and order.customer.getOrderWithSignatureImage %}
                    <div class="signature">
                        <img src="{{ vich_uploader_asset(order.customer.getOrderWithSignatureImage, 'imageFile') }}" alt="">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}