{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('admin/build/signature.css') }}"/>
    <link rel="stylesheet" href="{{ asset('admin/build/select-ui.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/incomeListApp.js') }}"></script>
    <script src="{{ asset('admin/build/signature_capture.js') }}"></script>
    {#temporary solution#}
    <script>
        $( document ).ajaxComplete(function() {
            var selects = document.getElementsByClassName("model-widget");
            for (var i = 0; i < selects.length; i++) {
                angular.bootstrap(selects[i], ["adminApp.orderEdit"])
            }
        });
    </script>
{% endblock %}
