{% extends "SonataAdminBundle:CRUD:base_show_field.html.twig" %}

{% if field_description.options.choices is defined %}
    {% set choices = field_description.options.choices %}
{% else %}
    {% set choices = [] %}
{% endif %}

{% block field %}
    <ul>
        {% for site,active in value %}
            {% if active == true %}
                <li>
                    {% if choices[site] is defined %}
                        {{ choices[site] }}
                    {% else %}
                        {{ site }}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
