{% extends "SonataAdminBundle:CRUD:base_list_field.html.twig" %}

{% block field %}
    {% set userPrice = getPriceByType(object, field_description.options.priceTypeId, field_description.options.userId) %}
    {% set adminPrice = getPriceByType(object, field_description.options.priceTypeId, field_description.options.adminId) %}
    {% set synchronized = isPriceSynchronized(object, field_description.options.priceTypeId, field_description.options.userId, field_description.options.adminId) %}
    {% include 'AdminBundle:partials:editable_admin_price.html.twig' with {
        'tdWrap' : false,
        'modelId' : object.id,
        'priceTypeId' : field_description.options.priceTypeId,
        'priceTypeTitle' : field_description.label|trans({}, field_description.translationDomain),
        'userPrice' : userPrice ? userPrice.value|format_price : 0,
        'adminPrice' : adminPrice ? adminPrice.value|format_price : 0,
        'synchronized' : synchronized,
    } %}
{% endblock %}
