{% extends "SonataAdminBundle:CRUD:base_list_field.html.twig" %}

{% block field %}
    {% if object.siteType == 1 %}
        {% for barcode in object.purchaseBarcodes %}
            {{ barcode.inventoryItem.title }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% else %}
        {% for item in object.items %}
            {{ item.title }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}