{% extends "SonataAdminBundle:CRUD:base_list_field.html.twig" %}

{% block field %}
    <a href="{{ admin.generateObjectUrl(route, object, field_description.options.route.parameters) }}">{{ object.storeId }}</a>
{% endblock %}