{% block image_only_widget %}
{% spaceless %}
    {% if image_uri %}
        <a href="{{ image_uri }}"><img src="{{ image_uri }}" alt="" /></a>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block show_barcodes_button_label %}
{% endblock %}
{% block show_barcodes_button_widget %}
    {% spaceless %}
        {% if form.vars.value %}
            <a href="{{ path('admin_inventory_display_barcodes', {'id': form.vars.value}) }}" target="_blank">Show barcodes</a>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block show_asked_quantity_widget %}
    {% spaceless %}
        {% if order.askedQuantity %}
            <div>
            {% for item in order.items %}
                <p>
                    Title: {{ item.title }};
                    {% if order.askedQuantity[item.id] is defined %}
                        Asked quantity: {{ order.askedQuantity[item.id] }}
                    {% endif %}
                </p>
            {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block three_web_filters_type_widget %}
    {% spaceless %}
        <div id="filters_field">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" role="tablist">
                    {% for key, data in composite %}
                    <li class="{% if loop.first %}active{% endif %}"><a href="#{{ key }}" data-toggle="tab" aria-expanded="false">{{ data.parent.title }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for key, data in composite %}
                        {% if data.parent.isMultiSelect %}
                            {% set type = 'checkbox' %}
                        {% else %}
                            {% set type = 'radio' %}
                        {% endif %}
                        <div class="tab-pane fade {% if loop.first %}active in{% endif %}" id="{{ key }}">
                            {% for form in form.children %}
                                {% if form.vars.value in data.filters %}
                                    <div class="col-md-3">
                                        <div class="{{ type }}">
                                            <label>
                                                <input type="{{ type }}" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}[{{ key }}]" value="{{ form.vars.value }}" {% if form.vars.checked %} checked="checked"{% endif %}>
                                                <span class="control-label__text">{{ form.vars.label }}</span>
                                            </label>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="clear-both"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('create',
            sonata_admin.field_description.getOption('link_parameters', {}))
            }}"
                onclick="return start_field_dialog_form_add_{{ id }}(this);"
                class="btn btn-success btn-sm sonata-ba-action"
                title="{{ btn_add|trans({}, btn_catalogue) }}"
            >
                <i class="fa fa-plus-circle"></i>
                {{ btn_add|trans({}, btn_catalogue) }}
            </a>
        </div>
        {% include 'SonataAdminBundle:CRUD/Association:edit_modal.html.twig' %}
        {% include 'AdminBundle:CRUD/Association:edit_many_script.html.twig' with { 'custom_id': 'filters_field' } %}
    {% endspaceless %}
{% endblock %}


{% block three_web_accessories_type_widget %}
    {% spaceless %}
    <div id="accessories_field">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" role="tablist">
                {% for parent, values in composite %}
                    <li class="{% if loop.first %}active{% endif %}"><a href="#{{ parent }}" data-toggle="tab" aria-expanded="false">{{ parent }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for parent, values in composite %}
                    <div class="tab-pane fade {% if loop.first %}active in{% endif %}" id="{{ parent }}">
                        {% for form in form.children %}
                            {% if form.vars.value in values %}
                                <div class="col-md-3">
                                    {% if form.vars.value in items_disabled %}
                                        {{ form_widget(form,{ 'attr':{'disabled':'disabled'} }) }}
                                    {% else %}
                                        {{ form_widget(form) }}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="clear-both"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('create',
        sonata_admin.field_description.getOption('link_parameters', {}))
        }}"
            onclick="return start_field_dialog_form_add_{{ id }}(this);"
            class="btn btn-success btn-sm sonata-ba-action"
            title="{{ btn_add|trans({}, btn_catalogue) }}"
        >
            <i class="fa fa-plus-circle"></i>
            {{ btn_add|trans({}, btn_catalogue) }}
        </a>
    </div>
    {% include 'SonataAdminBundle:CRUD/Association:edit_modal.html.twig' %}
    {% include 'AdminBundle:CRUD/Association:edit_many_script.html.twig' with { 'custom_id': 'accessories_field' } %}
    {% endspaceless %}
{% endblock %}

{% block signature_capture_label %}
{% endblock %}
{% block signature_capture_widget %}
    {% spaceless %}
        {{ form_widget(form, {'id': 'signature-encode', 'attr': { 'class': 'hidden-field'}}) }}
        <div class="signature">
            <div class="pad-wrapper">
                <canvas id="signature-pad" class="signature-pad"></canvas>
            </div>
            {% if form.parent.vars.value.getImageName %}
                <div class="captured">
                    <img src="{{ vich_uploader_asset(form.parent.vars.value, 'imageFile') }}" alt="">
                </div>
            {% endif %}
            <div class="controlls">
                <a class="btn btn-sm btn-default clear-signature" id="clear-signature" href="javascript:;">clear</a>
                <a class="btn btn-sm btn-success clear-save" id="save-signature" href="javascript:;">save</a>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block three_web_order_barcodes_type_widget %}
    {% spaceless %}
        {% for parent, values in items['composite'] %}
            <div>
                <div>
                    {{ items['inventoryItems'][parent]['title'] }} - {{ items['inventoryItems'][parent]['model'] }}
                </div>
                <div>
                    Asked quantity: {{ items['inventoryItems'][parent]['askedQuantity'] }}
                </div>
                {% for form in form.children %}
                    {% if form.vars.value in values %}
                        {{ form_widget(form) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block show_orders_label %}
{% endblock %}
{% block show_orders_widget %}
    {% spaceless %}
        {% if form.vars.value %}
            <h4 class="box-title">Active orders:</h4>
            <div class="bottom-separator">
                {% include '@Admin/partials/orders-list.html.twig'
                   with {'orders': form.vars.value.orders, 'statuses': [0, 1]} %}
            </div>
            <h4 class="box-title">Completed orders:</h4>
            <div>
                {% include '@Admin/partials/orders-list.html.twig'
                with {'orders': form.vars.value.orders, 'statuses': [2, 3]} %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block three_web_category_type_widget %}
    {% spaceless %}
        <div class="row">
            <div class="form-group">
                {{ form_widget(form) }}
                <div class="col-md-4">
                    <ui-select ng-model="{{ model_var }}" ng-init="{{ model_default_var }} = {{ form.vars.value ? form.vars.value : '{id: "", name: ""}' }}">
                        <ui-select-match class="ui-select-match" placeholder="Select or search a {{ form.vars.label }} ...">{% verbatim %}{{$select.selected.name}}{% endverbatim %}</ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="category.id as category in {{ search_function }} | filter: $select.search" refresh="{{ refresh_function }}" refresh-delay="0">
                            <div ng-bind="category.name"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div ng-if="{{ btn_add_flag }}" class="col-md-8" >
                    <div class="col-md-4">{% verbatim %}{{{% endverbatim %}{{ search_model }}{% verbatim %}}}{% endverbatim %}</div>
                    <div class="col-md-4"><input type="file" file-model="{{ image_model }}"/></div>
                    <div class="col-md-4"><a ng-click="{{ add_function }}" class="btn btn-success btn-sm sonata-ba-action"><i class="fa fa-plus-circle"></i> Add new</a></div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block three_web_customer_type_widget %}
<div class="row">
    <div class="form-group">
        {{ form_widget(form) }}
        <div class="col-md-12">
            <ui-select ng-model="{{ model_var }}" ng-init="{{ model_default_var }} = {{ form.vars.value ? form.vars.value : '{id: "", email: ""}' }}">
                <ui-select-match class="ui-select-match" placeholder="{{ placeholder }}">{% verbatim %}{{$select.selected.email}}{% endverbatim %}</ui-select-match>
                <ui-select-choices class="ui-select-choices" repeat="customer.id as customer in {{ search_function }} | filter: $select.search">
                    <div ng-bind="customer.email"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
{% endblock %}

{% block three_web_order_select_barcodes_type_widget %}
    <div class="row">
        <div class="form-group">
            {{ form_widget(form) }}
            <div class="col-md-4">
                <ui-select ng-model="{{ model_var }}">
                    <ui-select-match class="ui-select-match" placeholder="Select barcode">{% verbatim %}{{$select.selected.name}}{% endverbatim %}</ui-select-match>
                    <ui-select-choices class="ui-select-choices" repeat="item.id as item in {{ search_function }} | filter: $select.search">
                        <div ng-bind="item.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
{% endblock %}

{% block three_web_model_type_widget %}
<div class="model-widget">
    <div>
    {% if inline %}
        <div class="row">
            <div class="col-md-4">
    {% endif %}
            <div class="form-group">
            {{ form_widget(form) }}
                <ui-select ng-model="{{ model_var }}">
                    <ui-select-match class="ui-select-match" placeholder="Add or select model"><span ng-bind="{{ model_var }}.name"></span></ui-select-match>
                    <ui-select-choices class="ui-select-choices" repeat="item as item in {{ search_function }} | filter: $select.search" refresh="{{ refresh_function }}" refresh-delay="0">
                        <div ng-bind="item.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
    {% if inline %}
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
