{% extends '@SonataDoctrineORMAdmin/Form/form_admin_fields.html.twig' %}

{% block form_row %}
    {% if parent_div_class is defined and parent_div_class %}
        <div class="{{ parent_div_class }}">
            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}