{% extends '::base.html.twig' %}

{% block title %}Barcode{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/barcode.css') }}"/>
{% endblock %}

{% block body %}
{% for item in barcodes %}
    <div class="item {% if loop.index is even %}border-left{% endif %}">
        <div class="code">
            {% if inventoryItem.title %}
                {{ inventoryItem.title }}
            {% elseif inventoryItem.model %}
                {{ inventoryItem.model }}
            {% else %}
                {{ inventoryItem.id }}
            {% endif %}
        </div>
        {{ item.barcode|raw }}
        <div class="code">{{ item.code }}</div>
    </div>
{% endfor %}
{% endblock %}
