{% extends "SonataAdminBundle:CRUD:base_list_field.html.twig" %}

{% set payUrl = getSubscriptionPayUrl(object) %}
{% set cancelUrl = getSubscriptionCancelUrl(object) %}
{% block field %}
    {% if payUrl is not empty %}
        <a class="btn btn-sm btn-default" target="_blank" href="{{ payUrl }}">Pay</a>
    {% endif %}
    {% if cancelUrl is not empty %}
        <a class="btn btn-sm btn-danger"
           onclick="return confirm('{{ 'Cancel subscription?'|trans({}, 'SonataAdminBundle') }}')"
           href="{{ cancelUrl }}"
        >Cancel</a>
    {% endif %}
{% endblock %}
