{% extends '@Admin/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
{% endblock %}

{% block sonata_admin_content %}
    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
<div id='core' ng-app="adminApp.customerEdit">
    <div ng-controller="CustomerEditController as vm" ng-init="vm.init()">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h2>{{ customer.company ? : 'Customer' }}</h2>
                        </div>
                        <div class="box-body  container-fluid">
                            <div class="col-md-8">
                                <div class="box">
                                    <div class="box-header">
                                        All orders
                                    </div>
                                    <div class="box-body  container-fluid">
                                        <div id="orders">Loading...</div>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="box-header">
                                        All inventory
                                    </div>
                                    <div class="box-body  container-fluid">
                                        <div id="items">Loading...</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="box-body  container-fluid">
                                        {{ form_start(customerForm) }}
                                        <div class="sonata-ba-collapsed-fields">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    <label>Company</label>
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.company, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields left-half">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    {{ form_label(customerForm.firstname) }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.firstname, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields right-half">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    {{ form_label(customerForm.lastName) }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.lastName, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear-both"></div>
                                        <div class="sonata-ba-collapsed-fields">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    {{ form_label(customerForm.email) }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.email, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    <label>Business phone</label>
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.businessPhone, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    {{ form_label(customerForm.phone) }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.phone, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    <label>ID/Drivers license</label>
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.driverLicense, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    {{ form_label(customerForm.addressLine1) }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.addressLine1, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    {{ form_label(customerForm.addressLine2) }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.addressLine2, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields left-half">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    {{ form_label(customerForm.city) }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.city, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields right-half">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    <label>Zip/postal code</label>
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.zip, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear-both"></div>
                                        <div class="sonata-ba-collapsed-fields left-half">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    {{ form_label(customerForm.country) }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.country, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields right-half">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    {{ form_label(customerForm.state) }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.state, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear-both"></div>
                                        <div class="sonata-ba-collapsed-fields">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    {{ form_label(customerForm.note) }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(customerForm.note, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        {% if customer.getOrderWithSignatureImage %}
                                            <div class="captured">
                                                <img src="{{ vich_uploader_asset(customer.getOrderWithSignatureImage, 'imageFile') }}" alt="">
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sonata-ba-form-actions well well-small form-actions stuck row">
                <button type="submit" class="btn btn-success" name="btn_update">Save</button>
                <a class="btn btn-primary" href="{{ path('admin_customer_list') }}">Cancel</a>
                <a class="btn btn-danger" href="{{ path('admin_customer_delete', {'id': customer.id}) }}">Delete</a>
            </div>
            {{ form_end(customerForm) }}

        </section>
    </div>
</div>
{% endblock %}

{% block sonata_javascript_pool %}
    <script src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    {% for javascript in sonata_admin.adminPool.getOption('javascripts', []) %}
        {% if javascript != 'bundles/sonatacore/vendor/jquery/dist/jquery.min.js' %}
            <script src="{{ asset(javascript) }}"></script>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block additional_js %}
    <script>
        $(function() {
            $('#orders').initDataTables({{ datatable_settings(datatableOrders) }});
            $('#items').initDataTables({{ datatable_settings(datatableItems) }});
        });
    </script>
    <script src="{{ asset('admin/build/customerEditApp.js') }}"></script>
{% endblock %}
