{% extends '@Admin/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('admin/build/signature.css') }}"/>
    <link rel="stylesheet" href="{{ asset('admin/build/select-ui.css') }}"/>
    <link rel="stylesheet" href="{{ asset('admin/build/income-list.css') }}"/>
{% endblock %}

{% block sonata_admin_content %}
    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
<div id='core' ng-app="adminApp.orderEdit">
    <div ng-controller="AddInventoryController as vm" ng-init="vm.init('{{ disclaimer.description }}', '{{ disclaimer.pageType }}')">
        {{ form_start(form) }}
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h2>Add inventory</h2>
                        </div>
                        <div class="box-body  container-fluid">
                            <div class="col-md-6">
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.customer) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#customerModal">Add new</button>
                            </div>

                            <div class="col-md-12">
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            Items
                                        </h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="sell-item">
                                            <div>
                                                <div>Product</div>
                                                <div>Purchase price, $</div>
                                                <div>Quantity</div>
                                            </div>
                                        </div>
                                        {% for inventoryItem in form.items %}
                                            {% set item = inventoryItem.vars.value %}
                                            <div class="sell-item" id="order_item_{{ item.id }}">
                                                {{ form_widget(inventoryItem) }}
                                                <div class="btn btn-danger remove-button" id="remove_{{ item.id }}" data-id="{{ item.id }}">Remove</div>
                                            </div>
                                        {% endfor %}
                                        <div id="sell-items" data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}" data-index="0">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 operation-buttons">
                                                <div class="btn btn-success" ng-click="vm.addInventoryItem()">Add</div>
                                                <div class="btn btn-success" ng-click=" vm.importFile()" ng-show="myFile">Import</div>
                                                <div>
                                                    <input id='file' type="file" accept=".xls,.xlsx" file-model="myFile"/>
                                                </div>
                                                <div>
                                                    Import file <a href="{{ path('admin_import_file_sample') }}">sample</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="btn">
                                    <input type="checkbox" ng-model="vm.showSignature">
                                    Signature
                                </label>
                                <div ng-show="vm.showSignature">
                                    <div ng-bind-html="vm.disclaimer"></div>
                                    <div>
                                        <a href="#" data-toggle="modal" data-target="#disclaimerModal">Edit disclaimer</a>
                                    </div>
                                    {{ form_widget(form.signatureImage) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sonata-ba-form-actions well well-small form-actions stuck row">
                <button type="submit" class="btn btn-success" name="btn_update">Save</button>
                <a class="btn btn-danger" href="{{ path('admin_inventory_item_list') }}">Cancel</a>
            </div>
        </section>
        {{ form_end(form) }}
        <!-- Modal -->
        {% include '@Admin/partials/modal_customer.html.twig' %}
        {% include '@Admin/partials/modal_disclaimer.html.twig' %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/incomeListApp.js') }}"></script>
    <script src="{{ asset('admin/build/signature_capture.js') }}"></script>
{% endblock %}
