{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block form %}
    <div ng-app="adminApp.inventoryItem">
        <div ng-controller="InventoryItemController as vm" ng-init="vm.init('{{ form.vars.value.title|escapeQuotes }}')">
            {{ block('parentForm') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/build/inventoryItemApp.js') }}"></script>
{% endblock %}