{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block list_filters %}
    <div ng-app="adminApp.inventoryItem">
        <div ng-controller="InventoryItemListController as vm" ng-init="vm.init('{{ form.children['title'].vars.value.value }}', '{{ form.children['barcode'].vars.value.value }}')">
            {{ parent() }}
        </div>
    </div>
{% endblock %}

{% block list_filters_actions %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/build/inventoryItemListApp.js') }}"></script>
{% endblock %}