.admin_heading {
    color: $fun-blue;
    margin: 0 0 20px;
    padding: 0 0 8px;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -.5px;
    border-bottom: 1px solid $link-water;
}

.btn {
    display: inline-block;
    color: $white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    padding: 6px 10px;
    min-width: 80px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.btn-primary {
    color: $white;
    background-color: $astral;
    border-color: $azure;
    min-width: 200px;
    height: 60px;
    font-size: 20px;
    text-transform: uppercase;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $emperor;
    background-color: $white;
    background-image: none;
    border: 1px solid $light-grey;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

label {
    display: inline-block;
    font-weight: 500;
    margin: 0 6px 0 0;
    line-height: 2.5;
}

.table-bordered {
    border: 1px solid $grey-white;
}
