.label-warning {
    background-color: $tan-hide !important;
}

.label-success {
    background-color: $fern !important;
}

.label-primary {
    background-color: $portage !important;
}

.chart-info {
    padding: 10px;
    border-radius: 5px;

    .chart-info-label {
        color: $white;
        margin: 0;
        font-size: 15px;
        font-weight: 600;
        line-height: normal;
        display: block;
    }

    .chart-info-value {
        font-size: 25px;
        font-weight: 300;
    }
}
