#ebay-templates {
    .code {
        width: 100%;
        max-height: 100px;
        height: 100px;
        overflow: scroll;
        background-color: #f7f7ed;
        padding: 0 25px;
        border: 0;
        resize: none;
    }
}
