{% extends 'AdminBundle::standard_layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}"><i class="fa fa-home"></i></a></li>
    <li class="active"><a href="{{ url('admin_domain') }}">{{ "Domain" | trans }}</a></li>
    <li class="active"><span>{{ "Contacts" | trans }}</span></li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/domain-contacts.css') }}"/>
{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': {
            'action': path('admin_domain_registration', {'clientDomain': clientDomain}),
            'method': 'POST'
        }})
    }}
    <section
        id="domain-contacts"
    >
        <h3>{{ "Domain registration info" | trans }}</h3>
        <div class="container_fluid">
            <section class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h4 class="box-title">{{ "Login info" | trans }}</h4>
                        </div>

                        <div class="box-body">
                            <div class="raw">
                                <div class="col-md-5">
                                    <div class="alert alert-info" role="alert">
                                        {{ "Enter login and password for access to your own domain control panel" | trans }}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ "Login" | trans }} <span class="require-sign">*</span>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.login, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.login) }}
                                        </div>

                                        <label class="control-label">
                                            {{ "Password" | trans }} <span class="require-sign">*</span>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.password) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-header">
                            <h4 class="box-title">{{ "Contacts" | trans }}</h4>
                        </div>

                        <div class="box-body">
                            <div class="raw">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ "First Name" | trans }} <span class="require-sign">*</span>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.first_name, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.first_name) }}
                                        </div>

                                        <label class="control-label">
                                            {{ "Last Name" | trans }} <span class="require-sign">*</span>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.last_name, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.last_name) }}
                                        </div>

                                        <label class="control-label">
                                            {{ "Email" | trans }} <span class="require-sign">*</span>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.email, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'my-email@3web1.com'
                                                }
                                            }) }}
                                            {{ form_errors(form.email) }}
                                        </div>

                                        <label class="control-label">
                                            {{ "Phone" | trans }} <span class="require-sign">*</span>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.phone, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Example: +141655501232'
                                                }
                                            }) }}
                                            {{ form_errors(form.phone) }}
                                        </div>

                                        <label class="control-label">
                                            {{ "Fax" | trans }}
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.fax, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Example: +141655501232'
                                                }
                                            }) }}
                                            {{ form_errors(form.fax) }}
                                        </div>

                                        <label class="control-label">
                                            {{ "State" | trans }}
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.state, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Example: CA'
                                                }
                                            }) }}
                                            {{ form_errors(form.state) }}
                                        </div>

                                        <label class="control-label">
                                            {{ "Country" | trans }} <span class="require-sign">*</span>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.country) }}
                                        </div>

                                        <label class="control-label">
                                            {{ "City" | trans }} <span class="require-sign">*</span>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.city, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Example: SomeCity'
                                                }
                                            }) }}
                                            {{ form_errors(form.city) }}
                                        </div>

                                        <label class="control-label">
                                            {{ "Postal code" | trans }} <span class="require-sign">*</span>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.postal_code, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Example: 9021'
                                                }
                                            }) }}
                                            {{ form_errors(form.postal_code) }}
                                        </div>

                                        <label class="control-label">
                                            {{ "Organisation name" | trans }} <span class="require-sign">*</span>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.org_name, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Example: Example Inc.'
                                                }
                                            }) }}
                                            {{ form_errors(form.org_name) }}
                                        </div>

                                        <label class="control-label">
                                            {{ "address 1" | trans }} <span class="require-sign">*</span>
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.address1, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Example: 32 Oak Street'
                                                }
                                            }) }}
                                            {{ form_errors(form.address1) }}
                                        </div>

                                        <label class="control-label">
                                            {{ "address 2" | trans }}
                                        </label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                            {{ form_widget(form.address2, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Example: Suite 500'
                                                }
                                            }) }}
                                            {{ form_errors(form.address2) }}
                                        </div>
                                    </div>
                                    <button
                                        type="submit"
                                        class="btn btn-success"
                                    >
                                        {{ "submit" | trans }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {# //end domains section #}
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}