{% extends 'AdminBundle::standard_layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}"><i class="fa fa-home"></i></a></li>
    <li class="active"><span>Domain</span></li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

  <link rel="stylesheet" href="{{ asset('build/domain.css') }}"/>
{% endblock %}

    {% block sonata_javascript_pool %}
        {% for javascript in sonata_admin.adminPool.getOption('javascripts', []) %}
            {% if javascript != 'bundles/sonataadmin/Admin.js' %}
                <script src="{{ asset(javascript) }}"></script>
            {% endif %}
        {% endfor %}
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/domainApp.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

{% block content %}
    <section
        id="domain-info"
        ng-app="adminApp.domain"
        ng-controller="DomainMainController as DomainMainVm"
        ng-init="DomainMainVm.init('{{ formIsValid }}')"
        ng-cloak="hide"
    >
        <div
            class="alert alert-danger"
            role="alert"
            ng-show="DomainMainVm.displayError"
            ng-bind="DomainMainVm.errorText"
        ></div>

        <h3>Domains</h3>
        <div class="container_fluid">
            <section class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li
                            role="menuitem"
                            ng-class="{'active': DomainMainVm.domains}"
                        >
                            <a
                                href="javascript:void(0)"
                                ng-click="DomainMainVm.openTab('domains')"
                            >
                                {{ "My domain list" | trans }}
                            </a>
                        </li>

                        <li
                            role="menuitem"
                            ng-class="{'active': DomainMainVm.addDomains}"
                        >
                            <a
                                href="javascript:void(0)"
                                ng-click="DomainMainVm.openTab('addDomains')"
                            >
                                {{ "Add domain" | trans }}
                            </a>
                        </li>

                        <li
                            role="menuitem"
                            ng-class="{'active': DomainMainVm.buyDomains}"
                        >
                            <a
                                href="javascript:void(0)"
                                ng-click="DomainMainVm.openTab('buyDomains')"
                            >
                                {{ "Buy domain" | trans }}
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            {# domains section #}
            {% include '@Admin/Domain/partials/list_domains.html.twig' %}
            {# //end domains section #}

            {# add domains section #}
            {% include '@Admin/Domain/partials/add_domains.html.twig' %}
            {# //end add domains section #}

            {# buy domains section #}
            {% include '@Admin/Domain/partials/buy_domains.html.twig' %}
            {# //end buy domains section #}
        </div>
    </section>

{% endblock %}