.note-form {
    &__textarea {
        width: 100%;
        max-width: 100%;
        height: 45px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: $emperor;
        background-color: $white;
        background-image: none;
        border: 1px solid $light-grey;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    &__submit {
        min-width: auto;
        width: 100%;
        font-size: 12px;
        height: 45px;
    }
}
