.notes-list {
    padding: 0;
    max-height: 150px;
    margin: 0 0 20px;
    overflow: auto;
    box-sizing: border-box;
    list-style: none;
    font-family: Raleway, 'sans-serif';
    line-height: normal;

    li {
        min-height: 60px;
        border-bottom: 1px solid $mercury;
        padding: 6px 10px 20px 30px;
        font-size: 15px;
        font-weight: 300;
        position: relative;

        .notes-list__date {
            display: block;
            font-size: 12px;
            color: $dusty-gray;
            font-weight: 400;
        }

        .notes-list__user {
            font-size: 13px;
            font-weight: bold;
        }

        i {
            color: $cerulean-blue;
            font-size: 20px;
            position: absolute;
            left: 0;
            top: 10px;
          }

        a {
            display: inline;
            cursor: pointer;
            position: absolute;
            left: 1px;
            bottom: 8px;
            color: $astral;
            text-decoration: none;
            background-color: transparent;

            span {
                display: block;
                font-size: 12px;
                color: $dusty-gray;
                font-weight: 400;
            }
        }
    }
}
