.counter_box {
    .box {
        color: $white;
        text-align: center;
        p {
            font-size: 47px;
        }
    }

    .currentPackage {
        p {
            font-size: 20px !important;
        }
    }
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.label-success {
    background-color: $fern;
}
