.custom-checkbox {
  appearance: none;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid $light-grey;
  background-color: $white;
  outline: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  cursor: pointer;

  &:checked {
    border: 1px solid $curious-blue;
    background-color: $curious-blue;

    &:after {
      display: block;
    }
  }

  &:hover {
    border: 1px solid $curious-blue;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  &:after {
    content: "";
    display: none;
    position: absolute;
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}