.spinner {
  display: none;
  margin-left: 10px;
  vertical-align: inherit;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #919191;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;

  &.active {
    display: inline-block;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}