@import "../_color.scss";
@import "../_fonts.scss";
@import "../_spacing.scss";

#domain-info {

  @import "_custom-checkbox.scss";
  @import "_spinner.scss";
  @import "_controls.scss";

  .box-body {
    min-height: 50px;
  }

  .domain-block {
    padding: 0 50px 0 10px;
    margin: 10px 0;


    .domain-name, domain-status {
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
    }

    &.active {
      .domain-block__info {
        -webkit-box-shadow: 0px 28px 77px -16px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 28px 77px -16px rgba(0,0,0,0.75);
        box-shadow: 0px 28px 77px -16px rgba(0,0,0,0.75);
      }

      .domain-block__additional {
        display: block;
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .domain-expire-date,
      .domain-control {
          width: 270px;
      }

      .domain-name {
        width: 400px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 50px;
      }

      .badge-taken {
        width: 84px;
        border-radius: 3px;
        background-color: #ffc107;
        color: #343a40;
        line-height: 28px;
      }

      .title {
        font-weight: 600;
        font-size: 18px;
      }
    }

    &__additional {
      display: none;
      background-color: $gallery;
      padding: 10px;
    }
  }

  .nav-tabs {
    border-bottom: inherit;
  }

  .tld {
    max-width: 240px;

    &__item {
      cursor: pointer;

      .tld-name {
        vertical-align: super;
        margin: 0 2px;
      }
    }
  }
}
