{% set subscription = app.user.billingCustomer.getTrialSubscription %}
{% if subscription %}
{% set difference = date(subscription.trialEnd).diff(date('now')) %}
{% set leftDays = difference.days %}
<div class="row trial-row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-md-8">
                    You have days left {{ leftDays }} of your trial {{ subscription.plan.name }} plan
                </div>
                <div class="col-md-4"><a class="btn btn-default" href="{{ path('admin_billing_subscriptions_create') }}">Select plan</a></div>
            </div>
        </div>
    </div>
</div>
{% endif %}