.item {
    display: inline-block;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.border-left {
    border-left: 1px solid #ccc;
}
.code {
    text-align: center;
    max-width: 280px;
}
table {
    margin: auto;
}