.signature {
    display: inline-block;
    width: auto;
    user-select: none;

    .pad-wrapper {
        display: inline-block;
    }

    .signature-pad {
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 300px;
        height: 150px;
        background-color: white;
    }

    .captured {
        display: inline-block;
        margin-left: 10px;
        img {
            vertical-align: text-bottom;
        }
    }

    .controlls {
        margin-top: 10px;
        a {
            margin-right: 10px;
        }
    }
}
