<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <title>{{ inventoryItem.getTitle }}</title>
</head>
<body>
<div class="container item buy-item">
    <div class="row">
        <div class="col-md-4 img-product">
            {% if inventoryItem.getImage %}
            <img width="100%" src="{{ vich_uploader_asset(inventoryItem.getImage, 'imageFile') }}"
                 alt="{{ inventoryItem.getTitle }}">
            {% endif %}
        </div>
        <div class="col-md-8 menu-buttons">
            <h2>{{ inventoryItem.getTitle }}</h2>
            <div class="description-item">
                <div class="row">
                    <div class="col-md-6">
                        <hr>
                        <b>Condition :</b>
                        <p>{{ inventoryItem.price.priceType.title }}</p>
                    </div>
                    {% for filter in inventoryItem.price.inventoryItem.filters %}
                        {% if filter.parent and not filter.parent.getIsMultiSelect %}
                            <div class="model-property col-md-6 col-sm-6 col-xs-6">
                                <hr>
                                <b>{{ filter.parent.title }} :</b>
                                <p>{{ filter.title }} </p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if (inventoryItem.model and inventoryItem.model.description) or inventoryItem.description %}
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <b>Appearance :</b>
                            {% if inventoryItem.description %}
                                <p>{{ inventoryItem.description|replace({'\\r\\n': '\n'})|nl2br }}</p>
                            {% else %}
                                <p>{{ inventoryItem.model.description|replace({'\\r\\n': '\n'})|nl2br }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <hr>
                {% for item in multiple %}
                    <div class="row">
                        <div class="col-md-12">
                            <b>{{ item.parent.title }} :</b>
                            {% for filter in item.filters %}
                                {% if filter.status == 1 %}
                                    <span class="label label-info">{{ filter.title }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
