{% extends "@Admin/standard_layout.html.twig" %}

{% block sonata_wrapper %}
    {% block sonata_left_side %}
        <aside class="main-sidebar">
            <section class="sidebar">
                {% block sonata_side_nav %}
                    {% block sonata_sidebar_search %}
                        <form action="{{ path('sonata_admin_search') }}" method="GET" class="sidebar-form" role="search">
                            <div class="input-group custom-search-form">
                                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                                <span class="input-group-btn">
                                            <button class="btn btn-flat" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </span>
                            </div>
                        </form>
                    {% endblock sonata_sidebar_search %}

                    {% block side_bar_before_nav %} {% endblock %}
                    {% block side_bar_nav %}
                        {{ knp_menu_render('sonata_admin_sidebar', {template: sonata_admin.adminPool.getTemplate('knp_menu_template')}) }}
                    {% endblock side_bar_nav %}
                    {% block side_bar_after_nav %}
                        <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
                            {% block side_bar_after_nav_content %}
                            {% endblock %}
                        </p>
                    {% endblock %}
                    {% set domain = getUserOrUserSupervisor(app.user).clientDomain %}
                    {% if domain %}
                        <ul class="sidebar-menu">
                            <li>
                                {#TODO: Change on dynamic generation when domains will be implemented#}
                                <a href="https://{{ domain.domain }}" target="_blank"><i class="fa fa-globe" ></i><span>Go to site</span><span class="pull-right-container"></span></a>
                            </li>
                        </ul>
                    {% endif %}
                {% endblock sonata_side_nav %}
            </section>
        </aside>
    {% endblock sonata_left_side %}

    <div class="content-wrapper">
            <section class="content-header"></section>

            <section class="content">
                <section class="content">
                <div class="sonata-ba-form">
                {{ form_start(form) }}
                <div class="row">
                <div class="col-md-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#" data-toggle="tab"><i class="fa fa-exclamation-circle has-errors hide" aria-hidden="true"></i>Price</a></li>
                        </ul>
                        <div class="tab-content">
                        <div class="tab-pane fade in active">
                        <div class="box-body  container-fluid">
                        <div class="sonata-ba-collapsed-fields">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="box box-primary">
                                        <div class="box-body">
                                            <div class="sonata-ba-collapsed-fields">
                                                <div class="form-group">
                                                    <label class="control-label required">
                                                        Value
                                                    </label>
                                                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">$</span>
                                                            {{ form_widget(form.value, {'attr':{'class':'form-control'}}) }}
                                                        </div>
                                                        {% if form_errors(form.value) %}
                                                        <div class="help-block sonata-ba-field-error-messages">
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    {{ form_errors(form.value) }}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label required">
                                                        Price type
                                                    </label>
                                                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                        {{ form_widget(form.priceType) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="sonata-ba-form-actions well well-small form-actions">
                    {% if price_action == 'create' %}
                        <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> Create</button>
                    {% else %}
                        <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
                    {% endif %}
                        <a href="{{ path('admin_model_show', {'id': model.id}) }}" class="btn btn-success"><i class="fa fa-list" aria-hidden="true"></i> Return to model</a>
                </div>
                {{ form_end(form) }}
                </div>
                </section>
            </section>
    </div>

{% endblock %}
