{% extends '@Admin/standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/settingsApp.js') }}"></script>
{% endblock %}

{% block sonata_admin_content %}
{% if not is_granted('ROLE_SUPER_ADMIN') %}
    {% set subscription = app.user.billingCustomer.getActiveSubscription %}
{% endif %}
<section class="content" ng-app="adminApp.settings"
         ng-controller="SettingsController as vm"
         ng-cloak>
    <div class="alert alert-warning" role="alert" ng-if="vm.alert">
        <span ng-bind="vm.alertMessage"></span>
        <button type="button" class="close" ng-click="vm.alert = false" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box settings">
                <div class="box-header">
                    <h2>Settings</h2>
                </div>
                <div class="box-body  container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-4"><i class="fa fa-sitemap pull-right"></i></div>
                            <div class="col-md-8">
                                <div>
                                    <a class="dropdown-toggle pointer" type="button" id="organizeMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Organize website
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="organizeMenu">
                                        {% if is_granted('ROLE_ADMIN_CATEGORY_ALL') %}
                                            <li><a href="{{ path('admin_category_category_list') }}">Main Category</a></li>
                                        {% endif %}
                                        {% if isBuyBackOrRepairAllowed() %}
                                            {% if is_granted('ROLE_ADMIN_PRODUCT_ALL') %}
                                                <li><a href="{{ path('admin_category_product_list') }}">2nd Category</a></li>
                                            {% endif %}
                                            {% if is_granted('ROLE_ADMIN_PROVIDER_ALL') %}
                                                <li><a href="{{ path('admin_category_provider_list') }}">3rd Category</a></li>
                                            {% endif %}
                                        {% endif %}
                                        {% if is_granted('ROLE_ADMIN_MODEL_ALL') %}
                                            <li><a href="{{ path('admin_model_list') }}">Model</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_ADMIN_PARENT_FILTER_ALL') %}
                                            <li><a href="{{ path('admin_filter_list') }}">Filters</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_ADMIN_PRICE_TYPE_ALL') %}
                                            <li><a href="{{ path('admin_price_type_list') }}">{{ getPriceTypeCategoryName() }}</a></li>
                                        {% endif %}
                                        {% if isBuyBackOrRepairAllowed() %}
                                            <li><a href="{{ path('admin_batch_prices_list') }}">Manage Prices</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-8">Create categories, filters, conditions and sync prices</div>
                        </div>
                        {% if is_granted('ROLE_ADMIN_CONFIG_TESTIMONIAL_ALL') %}
                            <div class="col-md-4">
                                <div class="col-md-4"><i class="fa fa-commenting pull-right"></i></div>
                                <div class="col-md-8">
                                    <div><a href="{{ path('user_config_testimonials_list') }}">Testimonials</a></div>
                                    <div>Add customer testimonials to your website</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if
                            not is_granted('ROLE_SUPER_ADMIN') and
                            is_granted('ROLE_ADMIN') and
                            subscription is not null
                        %}
                            <div class="col-md-4">
                                <div class="col-md-4"><i class="fa fa-globe pull-right"></i></div>
                                <div class="col-md-8">
                                    <div>
                                        <a
                                            class="pointer"
                                            href="{{ path('admin_domain') }}"
                                        >
                                            {{ "Manage Domain" | trans }}
                                        </a>
                                    </div>
                                    <div>{{ "Manage your project domains" | trans }}</div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if is_granted('ROLE_ADMIN_USER_CONFIG_CONFIG_ALL') %}
                            <div class="col-md-4">
                                <div class="col-md-4"><i class="fa fa-pencil-square-o pull-right"></i></div>
                                <div class="col-md-8">
                                    <div><a href="{{ path('user_config_config_edit', {'id': app.user.config.id}) }}">Design</a></div>
                                    <div>Manage your website content and look</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN_CONFIG_QUESTION_ALL') %}
                            <div class="col-md-4">
                                <div class="col-md-4"><i class="fa fa-question pull-right"></i></div>
                                <div class="col-md-8">
                                    <div><a href="{{ path('user_config_question_list') }}">FAQ</a></div>
                                    <div>Edit and add frequently asked questions</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-md-4">
                                <div class="col-md-4"><i class="fa fa-credit-card pull-right"></i></div>
                                <div class="col-md-8">
                                    <div><a {% if isAccessibleOrderType(1) %}href="{{ path('admin_payment_provider_list') }}"{% else %}ng-click="vm.showMessage()"{% endif %}">Payment provider</a></div>
                                    <div>Set up payments processing for selling activities</div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if is_granted('ROLE_ADMIN_CONFIG_LOCATION_ALL') %}
                            <div class="col-md-4">
                                <div class="col-md-4"><i class="fa fa-location-arrow pull-right"></i></div>
                                <div class="col-md-8">
                                    <div><a href="{{ path('user_config_locations_list') }}">Location</a></div>
                                    <div>Set up and create multiple locations</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN_PAGE_ALL') %}
                            <div class="col-md-4">
                                <div class="col-md-4"><i class="fa fa-file pull-right"></i></div>
                                <div class="col-md-8">
                                    <div><a href="{{ path('admin_page_list') }}">Terms & Privacy</a></div>
                                    <div>Add and edit legal disclaimers</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-md-4">
                                <div class="col-md-4"><i class="fa fa-database pull-right"></i></div>
                                <div class="col-md-8">
                                    <div>
                                        <a class="dropdown-toggle pointer" type="button" id="billingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Billing
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="billingMenu">
                                            <li><a href="{{ path('admin_billing_plans_list') }}">Plans</a></li>
                                            <li><a href="{{ path('admin_billing_subscriptions_list') }}">Subscriptions</a></li>
                                            {% if billingAddressId %}
                                                <li><a href="{{ path('admin_billing_address_edit', {'id': billingAddressId}) }}">Address</a></li>
                                            {% endif %}
                                            {% if paymentMethodDetailsUrl %}
                                                <li><a href="{{ paymentMethodDetailsUrl }}">Payment method details</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-8">Manage your account and billing profile</div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if is_granted('ROLE_ADMIN_CONFIG_SEO_ALL') %}
                            <div class="col-md-4">
                                <div class="col-md-4"><i class="fab fa-google pull-right"></i></div>
                                <div class="col-md-8">
                                    <div><a href="{{ path('user_config_meta_list') }}">SEO</a></div>
                                    <div>Optimize page for search engines</div>
                                </div></div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-md-4">
                                <div class="col-md-4"><i class="fa fa-user pull-right"></i></div>
                                <div class="col-md-8">
                                    <div><a href="{{ path('admin_user_list') }}">User Setup</a></div>
                                    <div>Add users and set rights</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-md-4">
                                <div class="col-md-4"><i class="fa fa-search-plus pull-right"></i></div>
                                <div class="col-md-8">
                                    <div><a href="{{ path('admin_popular_search_list') }}">Popular search</a></div>
                                    <div>Popular search</div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

